:import {
    -st-from: "../../common/formatters.st";
    -st-named: color;
}

:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: Avatar;
}

:vars {
    /*Defaults*/
    /*Defaults params goes here*/
}

:vars {
    /*Overrides*/
    /*Deceleration of overridable placeholders*/
}

.root {
    -st-states: size(enum(large, medium, small, xSmall, xxSmall));
    display: inline-flex;
    flex-direction: row;
    padding-left: 5px;
}

.avatarContainer {
    margin-left: -5px;
    overflow: hidden;
    position: relative;
}

.avatar {
    -st-extends: Avatar;
    -st-states: size(enum(large, medium, small, xSmall, xxSmall));
}

.avatar::content {
    border: solid white 1px;
}

.avatar:size(large)::content {
    border-radius: 26px;
    font-size: 32px;
    font-weight: 400;
    height: 52px;
    width: 52px;
}

.avatar:size(medium)::content {
    border-radius: 18px;
    font-size: 20px;
    font-weight: 400;
    height: 36px;
    width: 36px;
}

.avatar:size(small)::content {
    border-radius: 14px;
    font-size: 17px;
    font-weight: 400;
    height: 28px;
    width: 28px;
}

.avatar:size(xSmall)::content {
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    width: 20px;
}

.avatar:size(xxSmall)::content {
    border-radius: 8px;
    font-size: 10px;
    font-weight: 400;
    height: 16px;
    width: 16px;
}
