:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, font;
}

:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: Avatar;
}

:import {
    -st-from: "../TextButton/TextButton.st.css";
    -st-default: TextButton;
}

/*Defaults*/
:vars {
    DefaultAvatarBorderColor: color-1;
}

/*Overrides*/
:vars {
    /*
        The Avatar Border color
        @default color-1
    */
     AvatarBorderColor: --overridable;
    /*
        Button Text Font
        @default {theme: 'Body-M', size: '14px', lineHeight: '1.44em'}
    */
     TextButtonFont: --overridable;
    /*
        Button Text Color
        @default color-5
    */
     TextButtonColor: --overridable;
}

:vars {
    avatarBorderColorValue: fallback(value(AvatarBorderColor), value(DefaultAvatarBorderColor));
}

.root {
    -st-states: size(enum(large, medium, small, xSmall, xxSmall));
    display: inline-flex;
    flex-direction: row;
}

.avatars {
    display: inline-flex;
    flex-direction: row;
}

.root:size(large) .avatars {
    padding-left: 14px;
}

.root:size(medium) .avatars {
    padding-left: 12px;
}

.root:size(small) .avatars {
    padding-left: 10px;
}

.root:size(xSmall) .avatars {
    padding-left: 6px;
}

.root:size(xxSmall) .avatars {
    padding-left: 4px;
}

.root .avatarContainer {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.root:size(large) .avatarContainer {
    margin-left: -14px;
}

.root:size(medium) .avatarContainer {
    margin-left: -12px;
}

.root:size(small) .avatarContainer {
    margin-left: -10px;
}

.root:size(xSmall) .avatarContainer {
    margin-left: -6px;
}

.root:size(xxSmall) .avatarContainer {
    margin-left: -4px;
}

.avatar {
    -st-extends: Avatar;
}

.root .avatar::content {
    border: solid 1px;
    border-color: color(value(avatarBorderColorValue));
}

.root:size(small) .avatar::content,
.root:size(medium) .avatar::content,
.root:size(large) .avatar::content {
    border-width: 2px;
}

.root:size(large) .avatar::content {
    font-size: 32px;
    font-weight: 400;
    height: 52px;
    width: 52px;
}

.root:size(medium) .avatar::content {
    font-size: 20px;
    font-weight: 400;
    height: 36px;
    width: 36px;
}

.root:size(small) .avatar::content {
    font-size: 17px;
    font-weight: 400;
    height: 28px;
    width: 28px;
}

.root:size(xSmall) .avatar::content {
    font-size: 12px;
    font-weight: 400;
    height: 20px;
    width: 20px;
}

.root:size(xxSmall) .avatar::content {
    font-size: 10px;
    font-weight: 400;
    height: 16px;
    width: 16px;
}

/* Optional text link */
:vars {
    SmallerTextButtonFont: "{theme: 'Body-M', size: '14px', lineHeight: '1.44em'}"
}

.textButtonContainer {
    display: flex;
    align-items: center;
}

:size(large) .textButtonContainer::before,
:size(medium) .textButtonContainer::before,
:size(small) .textButtonContainer::before {
    content: '\00a0';
    width: 12px;
}

:size(xSmall) .textButtonContainer::before {
    content: '\00a0';
    width: 10px;
}

:size(xxSmall) .textButtonContainer::before {
    content: '\00a0';
    width: 8px;
}

.root:size(large) .textButton,
.root:size(medium) .textButton,
.root:size(small) .textButton {
    -st-mixin: TextButton(
       MainTextColor value(TextButtonColor),
       MainTextFont value(TextButtonFont)
    );
}

.root:size(xSmall) .textButton,
.root:size(xxSmall) .textButton {
    -st-mixin: TextButton(
        MainTextColor value(TextButtonColor),
        MainTextFont fallback(value(TextButtonFont), font(value(SmallerTextButtonFont)))
    );
}
