:import {
    -st-from: "../Input/Input.st.css";
    -st-named: colorPlaceholder;
}

:import {
    -st-from: "../Text/Text.st.css";
    -st-default: TPAText;
}

:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, applyOpacity, font;
}

:vars {
    DefaultTitleTextColor: "color-5";
    DefaultTitleTextFont: "{theme: 'Body-M', size: '16px', lineHeight: '1.5'}";
}

/*Overrides*/
:vars {
    MainTitleTextColor: --overridable;
    MainTitleTextFont: --overridable;
    MainItemTextDisabledColor: --overridable;
}

:vars {
    CurrentTitleTextColor: color(fallback(value(MainTitleTextColor), value(DefaultTitleTextColor)));
    CurrentTitleTextFont: fallback(font(value(MainTitleTextFont)), font(value(DefaultTitleTextFont)));
    CurrentItemTextDisabledColor: color(fallback(value(MainItemTextDisabledColor), value(colorPlaceholder)));
} 

.root {
    -st-states: withIcon, selectable, sectionTitle;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 8px 12px;
}

.root.overrideStyleParams .title {
 -st-mixin: TPAText(
        MainTextColor value(CurrentTitleTextColor),
        MainTextFont value(CurrentTitleTextFont)
    );
}

.overrideStyleParams {
    -st-extends: root;
}

.contentWrapper {
    max-width: 100%;
}

.title {
    padding: 0 12px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.root:not(:selectable) .title {
    -st-mixin: TPAText(
        MainTextColor value(colorPlaceholder)
    );
}

.overrideStyleParams:not(:selectable) .title {
    -st-mixin: TPAText(
        MainTextColor value(CurrentItemTextDisabledColor),
        MainTextFont value(CurrentTitleTextFont)
    );
}

.overrideStyleParams:sectionTitle .title {
    -st-mixin: TPAText(
        MainTextColor applyOpacity(value(CurrentTitleTextColor), 0.6),
        MainTextFont value(CurrentTitleTextFont)
    );
}

.root:sectionTitle .title {
    padding: 0;
}

.overrideStyleParams .subtitle {
     -st-mixin: TPAText(
        MainTextColor value(CurrentTitleTextColor),
        MainTextFont value(CurrentTitleTextFont)
    );
}

.overrideStyleParams:not(:selectable) .subtitle {
    -st-mixin: TPAText(
        MainTextColor value(CurrentItemTextDisabledColor),
        MainTextFont value(CurrentTitleTextFont)
    );
}

.subtitle {
    font-size: 14px !important;
    opacity: 60%;
    margin-top: 4px;
    padding: 0 12px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    max-height: 40px;      /* fallback */
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
}
