:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: Input;
}

:import {
    -st-from: "../Input/Input.st.css";
    -st-default: TPAInput;
}

.root {}

.mainValue {
    -st-extends: Input;
    -st-mixin: TPAInput(
        MainBackgroundColor 'transparent'
    );
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.mainValue::nativeInput  {
     cursor: pointer;
     padding: 10px 10px 10px 24px;
 }

.mainValue::nativeInput:hover  {
    background-color: transparent;
}