:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, font, applyOpacity;
}

:import {
  -st-from: "../Text/Text.st.css";
  -st-default: Text;
}

/* Defaults - default params */
:vars {
  defaultBackgroundColor: color(color-5);
  defaultBorderColor: color(color-5);
  defaultTextColor: color(color-5);
  defaultBorderRadius: 0px;
  defaultBackgroundOpacity: 0.1;
  defaultBorderOpacity: 0.3;
  defaultBorderWidth: 1px;
  smallFont: "{theme: 'Body-M', size: '12px', lineHeight: '16px'}";
  mediumFont: "{theme: 'Body-M', size: '14px', lineHeight: '20px'}";
  largeFont: "{theme: 'Body-M', size: '16px', lineHeight: '24px'}";
}

/* Overrides - deceleration of overridable parameters by the consumer */
:vars {
  /*
    Background color
    @default color-5
  */
  BackgroundColor: --overridable;

  /*
    Border color
    @default color-5
  */
  BorderColor: --overridable;

  /*
    Main text color
    @default color-5
  */
  TextColor: --overridable;

  /*
    Border radius
    @default 0px
  */
  BorderRadius: --overridable;

  /*
    Border width
    @default 1px
  */
  BorderWidth: --overridable;

  /*
    Background opacity
    @default 0.1
  */
  BackgroundOpacity: --overridable;

  /*
    Border opacity
    @default 0.3
  */
  BorderOpacity: --overridable;

  /*
  Main text font
  @default small: {theme: 'Body-M', size: '12px', lineHeight: '16px'}, medium: {theme: 'Body-M', size: '14px', lineHeight: '20px'}, large: {theme: 'Body-M', size: '16px', lineHeight: '24px'}
  */
  Font: --overridable;
}

/* Overrides */
:vars {
  backgroundColor: color(fallback(value(BackgroundColor), value(defaultBackgroundColor)));
  backgroundOpacity: fallback(value(BackgroundOpacity), value(defaultBackgroundOpacity));
  borderColor: color(fallback(value(BorderColor), value(defaultBorderColor)));
  borderRadius: fallback(value(BorderRadius), value(defaultBorderRadius));
  borderOpacity: fallback(value(BorderOpacity), value(defaultBorderOpacity));
  borderWidth: fallback(value(BorderWidth), value(defaultBorderWidth));
  textColor: color(fallback(value(TextColor), value(defaultTextColor)))
}

.root {
  padding: 4px 12px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  width: fit-content;
  border: 0;
  position: relative;
  box-sizing: border-box;
}

.opaque {
  position: absolute;
  background: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity 300ms;
}

.root.clickable {
  cursor: pointer;
}

.root.clickable:focus .opaque,
.root.clickable:hover .opaque {
  opacity: 0.12;
}

.label {
  position: relative;
}

.root.overrideStyleParams .removeIcon,
.root .removeIcon {
  color: value(textColor);
}

.root.small.overrideStyleParams .label,
.root.small .label {
  -st-mixin: Text(
    MainTextColor value(textColor),
    MainTextFont fallback(font(value(Font)), font(value(smallFont)))
  );
}

.root.medium.overrideStyleParams .label,
.root.medium .label {
  -st-mixin: Text(
    MainTextColor value(textColor),
    MainTextFont fallback(font(value(Font)), font(value(mediumFont)))
  );
}

.root.large.overrideStyleParams .label,
.root.large .label {
  -st-mixin: Text(
    MainTextColor value(textColor),
    MainTextFont fallback(font(value(Font)), font(value(largeFont)))
  );
}

.root.solid,
.root.solid.overrideStyleParams {
  background-color: applyOpacity(value(backgroundColor), value(backgroundOpacity));
}

.root.light,
.root.light.overrideStyleParams {
  border-width: value(borderWidth);
  border-style: solid;
  border-color: applyOpacity(value(borderColor), value(borderOpacity));
}

.root,
.opaque,
.root.overrideStyleParams,
.root.overrideStyleParams .opaque {
  border-radius: value(borderRadius);
}

.iconWrapper {
  font-size: 0;
  margin: 0 -5px 0 5px;
}

.removeIcon {
  width: 14px;
  height: 14px;
}

.removeIcon path {
  stroke: currentColor;
}

.iconWrapper::after {
  content: " ";
  display: inline-block;
  width: 4px;
}
