:import {
  -st-from: "../../Text/Text.st.css";
  -st-default: Text;
}

:vars {
  /*Overrides*/
  TitleMainTextColor: --overridable;
  TitleMainTextFont: --overridable;
}

.titleText {
  -st-mixin: Text(
    MainTextColor '"--TitleMainTextColor"',
    MainTextFont '"fallback(font(--TitleMainTextFont), font({theme: \'Heading-M\', size: \'36px\'}))"'
  );
}
