:import {
  -st-from: "../../../common/formatters.st";
  -st-named: fallback;
}

:import {
  -st-from: "../../Text/Text.st.css";
  -st-default: Text;
}

:vars {
  /*Overrides*/
  TitleMainTextColor: --overridable;
  TitleMainTextFont: --overridable;
}

.titleTextMixin {
  -st-mixin: Text(
    MainTextColor value(TitleMainTextColor),
    MainTextFont fallback(value(TitleMainTextFont), 'font({theme: \'Heading-M\', size: \'36px\'})')
  );
}
