.numberPickerContainer {
  display: flex;
  margin: 50px;
}

.fontPickerContainer {
  display: flex;
  margin: 50px;
}

.colorPalettePicker {
  display: flex;
  margin: 50px;
  position: relative;
  width: fit-content;
}

.colorPickerContainer {
  width: fit-content;
  max-width: 520px;
  overflow-x: auto;

  .pickerList {
    width: max-content;

    > li {
      width: 210px;
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.palettePickerContainer {
  min-height: 150px;
  overflow-y: auto;
  position: absolute;
  right: -150px;
  top: 0;
  bottom: 0;
}

.pickerList {
  width: 210px;
  padding: 0;
  list-style: none;

  > li {
    label {
      display: block;
      margin-bottom: 0.5em;
    }
    + li {
      margin-top: 2em;
    }
  }
}
