.numberPickerContainer {
  display: flex;
  margin: 50px;
}

.fontPickerContainer {
  display: flex;
  margin: 50px;
}

.colorPalettePicker {
  display: flex;
  margin: 50px;
  position: relative;
}

.palettePickerContainer {
  min-height: 150px;
  overflow-y: auto;
  position: absolute;
  left: 260px;
  top: 0;
  bottom: 0;
}

.pickerList {
  width: 210px;
  padding: 0;
  list-style: none;

  > li {
    label {
      display: block;
      margin-bottom: 0.5em;
    }
    + li {
      margin-top: 2em;
    }
  }
}
