:import {
    -st-from: "../LikeButton.st.css";
    -st-default: LikeButton;
  }
  
  .root {
    -st-mixin: LikeButton(
      IconColor '"--iconColor"',
      LabelColor '"--labelColor"',
      LabelFont '"--labelFont"'
    );
  }
