:import {
    -st-from: "../Dialog.st.css";
    -st-named: overrideStyleParams;
}

.dialogComponent {
    -st-mixin: overrideStyleParams(
            CloseButtonColor '"color(--customCloseButtonColor)"',
            BackgroundColor '"color(--customBackgroundColor)"'
    );
}

.content {
    text-align: center;
    width: 30vw;
    height: 30vh;
    line-height: 30vh;
}
