:import {
    -st-from: "../Dialog.st.css";
    -st-named: skin-wired;
}

.dialogComponent {
    -st-mixin: skin-wired(
            CloseButtonColor '"color(--customCloseButtonColor)"',
            BackgroundColor '"color(--customBackgroundColor)"'
    );
}

.content {
    text-align: center;
}
