:import {
  -st-from: "../ToggleSwitch.st.css";
  -st-default: ToggleSwitch;
}

.root {
  --runtimeSettings1: '"color(color-23)"';
  --runtimeSettings2: '"color(color-2)"';

  -st-extends: ToggleSwitch;
  -st-mixin: ToggleSwitch(
          Selected '"color(--runtimeSettings1)"',
          Hover '"opacity(color(--runtimeSettings1), 0.5)"',
          Disabled '"color(--runtimeSettings2)"',
          outerLabelBorderSize 1px,
          outerLabelBorderSizeChecked 1px,
          outerLabelBorderSizeDisabled 1px,
          outerLabelBorderSizeHover 1px,
          outerLabelBorderSizeHoverChecked 1px,
          outerLabelBorderColor '"darken(color(--runtimeSettings1), 0.2)"',
          outerLabelBorderColorChecked '"darken(color(--runtimeSettings1), 0.2)"',
          outerLabelBorderColorHover '"darken(color(--runtimeSettings1), 0.2)"',
          outerLabelBorderColorHoverChecked '"darken(color(--runtimeSettings1), 0.2)"'
  );
}
