:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, font, value, opacity;
}


:vars {
    /*Defaults*/
    ItemFontDesktop: "{theme: 'Body-M', size: '16px', lineHeight: '24px'}";
    ItemSubtitleFontDesktop: "{theme: 'Body-M', size: '14px', lineHeight: '20px'}";
    ItemFontMobile: "{theme: 'Body-M', size: '14px', lineHeight: '24px'}";
    ItemSubtitleFontMobile: "{theme: 'Body-M', size: '12px', lineHeight: '20px'}";
}

:vars {
    /*Overrides*/
    ItemFont:  --overridable;
    ItemSubtitleFont:  --overridable;
}

.root {
    -st-states: disabled;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    width: 100%;
    cursor: pointer;
}

.root:mobile {
    width: 100%;
}

.root:hover {
    background-color: rgba(0,0,0, 0.06);
}

.root:disabled {
    opacity: 0.3;
}

.root:disabled:hover {
    background-color: inherit;
}

.icon {

}

.text {
    display: flex;
    flex-direction: column;
    color: color(color-5);
}

.content {
    font: fallback(font(value(ItemFont)), font(value(ItemFontDesktop)));
}

.root:mobile .content {
    font: fallback(font(value(ItemFont)), font(value(ItemFontMobile)));
}

.subtitle {
    font: fallback(font(value(ItemSubtitleFont)), font(value(ItemSubtitleFontDesktop)));
    color: opacity(color(color-5), 0.6);
}

.root:mobile .subtitle {
    font: fallback(font(value(ItemSubtitleFont)), font(value(ItemSubtitleFontMobile)));
}

.spaceContainer {
    width: 12px;
    height: 100%;
}
