:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback;
}


:vars {
    /*Defaults*/
    DefaultItemFont: 16px Avenir;
    DefaultItemSubtitleFont: 14px Avenir;
}

:vars {
    /*Overrides*/
    ItemFont:  --overridable;
    ItemSubtitleFont:  --overridable;
}

:vars {
    itemFont: color(fallback(value(ItemFont), value(DefaultItemFont)));
    itemSubtitleFont: fallback(value(ItemSubtitleFont), value(DefaultItemSubtitleFont));
}

.root {
    -st-states: withIcon, disabled;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    width: 100%;
    cursor: pointer;
}

.root:withIcon {

}

.root:mobile {
    width: 100%;
}

.root:hover {
    background-color: rgba(0,0,0, 0.06);
}

.root:disabled {
    opacity: 0.3;
}

.root:disabled:hover {
    background-color: inherit;
}

.icon {

}

.text {
    display: flex;
    flex-direction: column;
}

.content {
    font: value(itemFont);
}

.subtitle {
    font: value(itemSubtitleFont);
}

.spaceContainer {
    width: 12px;
    height: 100%;
}
