:import {
    -st-from: "../../../common/formatters.st";
    -st-named: applyUnit, color, fallback, value, applyOpacity, zeroAsTrue;
}

:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: RadioButton;
}

:vars {
    /*Defaults*/
    DefaultItemSize: 24;
    DefaultBorderRadius: 12;
    DefaultFocusColor: color-5;
}

/*Overrides*/
:vars {
    /*
        The size of the item (width and height)
        @default 24
     */
    Size: --overridable;
    /*
        The radius size
        @default 12
     */
    Radius: --overridable;
}

:vars {
    colorPickerItemSize: applyUnit(fallback(value(Size), value(DefaultItemSize)), px);
    colorPickerBorderRadius: fallback(zeroAsTrue(value(Radius)), applyUnit(value(DefaultBorderRadius), px));
    focusColor: applyOpacity(color(value(DefaultFocusColor)), 0.6);
}

.root {
    -st-extends: RadioButton;
    -st-states: checked, focused, isCrossedOut;
}

.root * {
    box-sizing: border-box;
}

.radioOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: value(colorPickerItemSize);
    height: value(colorPickerItemSize);
    border-radius: value(colorPickerBorderRadius);
    transition: box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 0px color(value(focusColor));
}

.root:checked .radioOuter, .root:focused .radioOuter {
    box-shadow: 0px 0px 0px 1px color(value(focusColor));
}

.radioInner {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: value(colorPickerBorderRadius);
    border: 1px solid #C9C9C9;
    position: relative;
    overflow: hidden;
}

.root:isCrossedOut .radioInner::before {
    content: '';
    position: absolute;
    border-top: 1px solid #C9C9C9;
    transform-origin: right;
    transform: rotate(-45deg);
    width: 200%;
    right: 0;
 }

.root:disabled {
    filter: none;
    opacity: 1;
}
