:import {
    -st-from: "../Card.st.css";
    -st-default: TPACard;
}

.card {
    -st-mixin: TPACard(
            MainCardColor '"--cardBGColor"',
            MainInfoColor '"--infoBGColor"',
            MainMediaColor '"--imageBGColor"',
            MainBorderColor '"--borderColor"',
            MainBorderWidth '"--borderWidth"'
    );
}
