:import {
  -st-from: '../Card.st.css';
  -st-default: Card;
}

.root {
  -st-extends: Card;

  max-width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.info {
  padding: 30px;
  flex-shrink: 1;
}

.media img {
  vertical-align: middle;
  height: auto;
}

.stacked, .stacked .info, .stacked .media {
  width: 400px;
}

.wrap .media img {
  width: 100%;
  height: auto;
}
