:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, font, applyOpacity;
}

:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: ToggleSwitch, ToggleSwitchStyle, ToggleSwitchLayout, ToggleSwitchColor;
}

/*Defaults*/
:vars {
    DefaultBaseColor: color(color-5);
    DefaultSelectedColor: color(color-8);
    DefaultKnobColor: color(color-1);
    DefaultDisabledColor: applyOpacity(color(color-3), 0.9);
    DefaultTransitionDuration: .2s;
}

/*Overrides*/
:vars {
    /*
      The color of the track background
      @default color-5
    */
    BaseColor: --overridable;
    /*
      The color of the toggle when it is on
      @default color-8
    */
    SelectedColor: --overridable;
    /*
      The background color of the knob
      @default color-1
    */
    KnobColor: --overridable;
    /*
      The color of the toggle when disabled 
      @default color-3 with opacity 0.9
    */
    DisabledColor: --overridable;
}

:vars {
    UsedBaseColor: color(fallback(value(BaseColor), value(DefaultBaseColor)));
    UsedSelectedColor: color(fallback(value(SelectedColor), value(DefaultSelectedColor)));
    UsedKnobColor: color(fallback(value(KnobColor), value(DefaultKnobColor)));
    UsedDisabledColor: color(fallback(value(DisabledColor), value(DefaultDisabledColor)));
}

.root {
    -st-extends: ToggleSwitch;
    -st-mixin: ToggleSwitchStyle, ToggleSwitchLayout, ToggleSwitchColor;

    color: value(UsedBaseColor);
    opacity: .7;
    transition: all value(DefaultTransitionDuration) ease;
}

.root::track {
    background-color: value(UsedBaseColor);
    transition-duration: value(DefaultTransitionDuration);
}

.root::knob {
    background-color: value(UsedKnobColor);
    transition-duration: value(DefaultTransitionDuration);
}

.root:hover {
    opacity: 1;
}

.root:checked {
    color: value(UsedSelectedColor);
    opacity: 1;
}

.root:checked::track {
    background-color: value(UsedSelectedColor);
}

.root:checked:hover {
    opacity: .7;
}

.root:disabled,
.root:disabled:hover,
.root:disabled:checked,
.root:disabled:checked:hover {
    opacity: 1;
    color: value(UsedDisabledColor);
}

.root:disabled::track {
    background-color: value(UsedDisabledColor);
}

.root:disabled::knob {
    background-color: applyOpacity(color(color-1), 0.6);
}
