:import {
    -st-from: "../../common/formatters.st";
    -st-named: applyStyleMethod, applyOpacity;
}

:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: ToggleSwitchStyle;
}

:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: ToggleSwitch;
}

:import {
    -st-from: "../../common/variables.st.css";
    -st-named: HighlightColor;
}

/* Recommended Variables */
:vars {
    MainColor: value(HighlightColor);
    Selected: value(MainColor);
    Hover: applyOpacity(value(MainColor), 0.7);
    Muted: applyOpacity(value(MainColor), 0.3);
    Disabled: applyOpacity(applyStyleMethod(color, color-5), 0.9);
}

/* Extended Variables */
:vars {
    rootWidth: initial;
    rootHeight: initial;

    transitionSpeed: 0.3s;
    labelMovementRange: 23px;

    outerLabelWidth: 45px;
    outerLabelHeight: 24px;

    borderRadius: 50px;
    outerLabelBorderSize: 0;
    outerLabelBorderSizeChecked: 0;
    outerLabelBorderSizeDisabled: 0;
    outerLabelBorderSizeHover: 0;
    outerLabelBorderSizeHoverChecked: 0;

    backgroundColor: value(Selected);
    backgroundColorChecked: value(Selected);
    backgroundColorDisabled: value(Disabled);
    backgroundColorHover: value(Hover);
    backgroundColorHoverChecked: value(Hover);
    backgroundColorFocus: value(Hover);

    outerLabelBorderColor: white;
    outerLabelBorderColorChecked: white;
    outerLabelBorderColorDisabled: value(Disabled);
    outerLabelBorderColorHover: white;
    outerLabelBorderColorHoverChecked: white;

    innerLabelWidth: 21px;
    innerLabelHeight: 22px;

    innerLabelBorderRadius: 50px;
    innerLabelBorderSize: 0;
    innerLabelBorderSizeChecked: 0;
    innerLabelBorderSizeDisabled: 0;
    innerLabelBorderSizeHover: 0;
    innerLabelBorderSizeHoverChecked: 0;

    innerLabelBackgroundColor: white;
    innerLabelBackgroundColorChecked: white;
    innerLabelBackgroundColorDisabled: white;
    innerLabelBackgroundColorHover: white;
    innerLabelBackgroundColorHoverChecked: white;

    color: white;
    colorChecked: white;
    colorDisabled: white;
    colorCheckedDisabled:white;
    colorHover: white;
    colorHoverChecked: white;
    colorFocus:  white;

    innerLabelBorderColor: white;
    innerLabelBorderColorChecked: white;
    innerLabelBorderColorDisabled: white;
    innerLabelBorderColorHover: white;
    innerLabelBorderColorHoverChecked: white;

    toggleIconWidth: 8px;
    toggleIconHeight: 6px;
    toggleIconDisplay: none;

    focusOutline: none;
}

.root {
    -st-extends: ToggleSwitch;
    -st-mixin: ToggleSwitchStyle(
        rootWidth value(rootWidth),
        rootHeight value(rootHeight),
        transitionSpeed value(transitionSpeed),
        labelMovementRange value(labelMovementRange),
        outerLabelWidth value(outerLabelWidth),
        outerLabelHeight value(outerLabelHeight),
        borderRadius value(borderRadius),
        outerLabelBorderSize value(outerLabelBorderSize),
        outerLabelBorderSizeChecked value(outerLabelBorderSizeChecked),
        outerLabelBorderSizeDisabled value(outerLabelBorderSizeDisabled),
        outerLabelBorderSizeHover value(outerLabelBorderSizeHover),
        outerLabelBorderSizeHoverChecked value(outerLabelBorderSizeHoverChecked),
        backgroundColor value(backgroundColor),
        backgroundColorChecked value(backgroundColorChecked),
        backgroundColorDisabled value(backgroundColorDisabled),
        backgroundColorHover value(backgroundColorHover),
        backgroundColorHoverChecked value(backgroundColorHoverChecked),
        backgroundColorFocus value(backgroundColorFocus),
        outerLabelBorderColor value(outerLabelBorderColor),
        outerLabelBorderColorChecked value(outerLabelBorderColorChecked),
        outerLabelBorderColorDisabled value(outerLabelBorderColorDisabled),
        outerLabelBorderColorHover value(outerLabelBorderColorHover),
        outerLabelBorderColorHoverChecked value(outerLabelBorderColorHoverChecked),
        innerLabelWidth value(innerLabelWidth),
        innerLabelHeight value(innerLabelHeight),
        innerLabelBorderRadius value(innerLabelBorderRadius),
        innerLabelBorderSize value(innerLabelBorderSize),
        innerLabelBorderSizeChecked value(innerLabelBorderSizeChecked),
        innerLabelBorderSizeDisabled value(innerLabelBorderSizeDisabled),
        innerLabelBorderSizeHover value(innerLabelBorderSizeHover),
        innerLabelBorderSizeHoverChecked value(innerLabelBorderSizeHoverChecked),
        innerLabelBackgroundColor value(innerLabelBackgroundColor),
        innerLabelBackgroundColorChecked value(innerLabelBackgroundColorChecked),
        innerLabelBackgroundColorDisabled value(innerLabelBackgroundColorDisabled),
        innerLabelBackgroundColorHover value(innerLabelBackgroundColorHover),
        innerLabelBackgroundColorHoverChecked value(innerLabelBackgroundColorHoverChecked),
        color value(color),
        colorChecked value(colorChecked),
        colorDisabled value(colorDisabled),
        colorCheckedDisabled value(colorCheckedDisabled),
        colorHover value(colorHover),
        colorHoverChecked value(colorHoverChecked),
        colorFocus  value(colorFocus ),
        innerLabelBorderColor value(innerLabelBorderColor),
        innerLabelBorderColorChecked value(innerLabelBorderColorChecked),
        innerLabelBorderColorDisabled value(innerLabelBorderColorDisabled),
        innerLabelBorderColorHover value(innerLabelBorderColorHover),
        innerLabelBorderColorHoverChecked value(innerLabelBorderColorHoverChecked),
        toggleIconWidth value(toggleIconWidth),
        toggleIconHeight value(toggleIconHeight),
        toggleIconDisplay value(toggleIconDisplay),
        focusOutline value(focusOutline)
    );
}
