:import {
  -st-from: '../../common/formatters.st';
  -st-named: color, fallback, font, applyOpacity;
}

:import {
  -st-from: 'wix-ui-core/index.st.css';
  -st-named: ToggleSwitch, ToggleSwitchStyle, ToggleSwitchLayout, ToggleSwitchColor;
}

/*Defaults*/
:vars {
  defaultbasecolor: color(color-5);
  defaultselectedcolor: color(color-8);
  defaultknobcolor: color(color-1);
  defaultdisabledcolor: applyOpacity(color(color-3), 0.9);
  defaulttransitionduration: 0.2s;
}

/*Overrides*/
:vars {
  /* The color of the track background */
  basecolor: --overridable;
  /* The color of the toggle when it is on */
  selectedcolor: --overridable;
  /* The background color of the knob */
  knobcolor: --overridable;
  /* The color of the toggle when disabled */
  disabledcolor: --overridable;
}

:vars {
  usedbasecolor: color(fallback(value(BaseColor), value(DefaultBaseColor)));
  usedselectedcolor: color(fallback(value(SelectedColor), value(DefaultSelectedColor)));
  usedknobcolor: color(fallback(value(KnobColor), value(DefaultKnobColor)));
  useddisabledcolor: color(fallback(value(DisabledColor), value(DefaultDisabledColor)));
}

.root {
  -st-extends: ToggleSwitch;
  -st-mixin: ToggleSwitchStyle, ToggleSwitchLayout, ToggleSwitchColor;

  color: value(UsedBaseColor);
  opacity: 0.7;
  transition: all value(DefaultTransitionDuration) ease;
}

.root::track {
  background-color: value(UsedBaseColor);
  transition-duration: value(DefaultTransitionDuration);
}

.root::knob {
  background-color: value(UsedKnobColor);
  transition-duration: value(DefaultTransitionDuration);
}

.root:hover {
  opacity: 1;
}

.root:checked {
  color: value(UsedSelectedColor);
  opacity: 1;
}

.root:checked::track {
  background-color: value(UsedSelectedColor);
}

.root:checked:hover {
  opacity: 0.7;
}

.root:disabled,
.root:disabled:hover,
.root:disabled:checked,
.root:disabled:checked:hover {
  opacity: 1;
  color: value(UsedDisabledColor);
}

.root:disabled::track {
  background-color: value(UsedDisabledColor);
}

.root:disabled::knob {
  background-color: applyOpacity(color(color-1), 0.6);
}
