:import {
  -st-from: "./Badge.st.css";
  -st-default: Badge;
  -st-named: overrideStyleParams;
}

.palette {
  -st-mixin: Badge(
    BadgeBgColor '"color(color-11)"',
    BadgeTextColor '"color(color-15)"',
  );
}

.staticColors {
  -st-mixin: Badge(
    BadgeBgColor gold,
    BadgeTextColor black,
  );
}

.paletteStyleParams {
  -st-mixin: overrideStyleParams(
    BadgeBgColor '"color(color-11)"',
    BadgeTextColor '"color(color-15)"',
  );
}
.staticColorsSiteParams {
  -st-mixin: overrideStyleParams(
    BadgeBgColor gold,
    BadgeTextColor black,
  );
}
