:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback
}

/*Defaults*/
:vars {
    DefaultColor: color-5;
}

/*Overrides*/
:vars {
    /*
    @default color-5
    */
    IconColor: --overridable;
}

.root {
    -st-states: withIcon, withText;
}

.root:hover .icon {
    opacity: 0.6;
}

.root:withIcon .text {
    padding-left: 8px;
}

.root:withText .icon {
    opacity: 0.6;
}

.root:hover:withText .icon {
    opacity: 0.4;
}

.text {

}

.icon {

}

.icon path {
    fill: none;
    stroke: color(fallback(value(IconColor), value(DefaultColor)));
}