/*Defaults*/
:vars {
  /*Defaults params goes here*/
}

/*Overrides*/
:vars {
  /*Deceleration of overridable placeholders*/
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.checkIcon {
  -st-states: theme(enum(light, dark));
}


.checkIcon:theme(light) path {
  fill: black;
}

.checkIcon:theme(dark) path {
  fill: white;
}


.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce-in 0.5s ease 0s 1 normal;
}

.successMobile {
  display: flex;
  align-items: center;
}

.successText {
  -st-states: theme(enum(light, dark));
  position: relative;
  top: 14px;
}

.successText:theme(light) {
  color: black;
}

.successText:theme(dark) {
  color: white;
}

.successTextMobile {
  padding-left: 10px;
}

.copyInput {
  position: absolute;
  left: -9999px;
}

@keyframes bounce-in {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  32% {
    transform: translateY(-5px);
    opacity: 1;
  }
  68% {
    transform: translateY(2px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
