:import {
  -st-from: "./CounterBadge.st.css";
  -st-named: overrideStyleParams;
}

.palette {
  -st-mixin: CounterBadge(
    CounterBadgeBgColor "color(color-11)",
    CounterBadgeTextColor "color(color-15)",
  );
}

.paletteStyleParams {
  -st-mixin: overrideStyleParams(
    CounterBadgeBgColor "color(color-11)",
    CounterBadgeTextColor "color(color-15)",
  );
}
.staticColorsSiteParams {
  -st-mixin: overrideStyleParams(
    CounterBadgeBgColor gold,
    CounterBadgeTextColor black,
  );
}
