:import {
    -st-from: "../../tpaStyles/styleableExt";
    -st-named: wixApply;
}

:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: ButtonNext;
}

:vars {
    /*Constance*/
    MinWidth: 100px;
    PrimaryColor: color-8;
    SecondaryColor: color-1;
    BasicColor: color-5;
    DisabledColor: color-3;
    BorderWidth: 1;
    BorderRadius: 0;
    TinyFont: "{theme: 'Body-M', size: '14px', lineHeight: '1.43em'}";
    SmallFont: "{theme: 'Body-M', size: '16px', lineHeight: '1.5em'}";
    MediumFont: "{theme: 'Body-M', size: '16px', lineHeight: '1.5em'}";
    LargeFont: "{theme: 'Body-M', size: '20px', lineHeight: '1.5em'}";
}

:vars {
    /*Overrides*/
    MainTextColor: --overidable;
    MainBackgroundColor: --overidable;
    MainTextFont: --overidable;
    MainBorderColor: value(PrimaryColor);
    MainBorderWidth: --overidable;
    MainBorderRadius: value(BorderRadius);
}

:vars {
    PrimaryTextColor: wixApply(color, wixApply(fallback, value(MainTextColor), value(SecondaryColor))), fullWidth;
    PrimaryBorderWidth: wixApply(unit, wixApply(fallback, value(MainBorderWidth), 0), px);
}

.root {
    -st-extends: ButtonNext;
    -st-states: priority(enum(primary, secondary, basic)), size(enum(tiny, small, medium, large));

    min-width: value(MinWidth);
    border-style: solid;
    box-sizing: content-box;
    border-color: wixApply(color, value(MainBorderColor));
    border-radius: wixApply(unit, value(MainBorderRadius), px);
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
}

.root::content {
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.root:fullWidth {
    width: 100%;
    box-sizing: border-box;
}

/*Basic*/

:vars {
    BasicBackgroundColor: wixApply(color, wixApply(fallback, value(MainBackgroundColor), value(BasicColor)));
}

.root:priority(basic) {
    color: value(PrimaryTextColor);
    background-color: value(BasicBackgroundColor);
    border-width: value(PrimaryBorderWidth);
}

.root:priority(basic):active,
.root:priority(basic):focus,
.root:priority(basic):hover {
    background-color: wixApply(opacity, value(BasicBackgroundColor), 0.8);
}

/*Primary*/

:vars {
    PrimaryBackgroundColor: wixApply(color, wixApply(fallback, value(MainBackgroundColor), value(PrimaryColor)));
}

.root:priority(primary) {
    color: value(PrimaryTextColor);
    background-color: value(PrimaryBackgroundColor);
    border-width: value(PrimaryBorderWidth);
}

.root:priority(primary):active,
.root:priority(primary):focus,
.root:priority(primary):hover {
    background-color: wixApply(opacity, value(PrimaryBackgroundColor), 0.8);
}

/*Secondary*/

:vars {
    SecondaryTextColor: wixApply(color, wixApply(fallback, value(MainTextColor), value(PrimaryColor)));
    SecondaryBorderColor: wixApply(color, wixApply(fallback, value(MainBorderColor), value(PrimaryColor)));
}

.root:priority(secondary) {
    color: value(SecondaryTextColor);
    background-color: wixApply(color, wixApply(fallback, value(MainBackgroundColor), transparent));
    border-color: value(SecondaryBorderColor);
    border-width: wixApply(unit, wixApply(fallback, wixApply(zeroAsTrue, value(MainBorderWidth)), 1), px);
}

.root:priority(secondary):active,
.root:priority(secondary):focus,
.root:priority(secondary):hover {
    color: wixApply(opacity, value(SecondaryTextColor), 0.6);
    border-color: wixApply(opacity, value(SecondaryBorderColor), 0.6);
}

/*Disabled*/

.root:priority(basic):disabled,
.root:priority(primary):disabled {
    background-color: wixApply(color, value(DisabledColor));
}

.root:priority(secondary):disabled {
    color: wixApply(color, value(DisabledColor));
    border-color: wixApply(color, value(DisabledColor));
}

/*Tiny*/

.root:size(tiny) {
    padding: 6px 16px;
    font: wixApply(fallback, wixApply(font, value(MainTextFont)), wixApply(font, value(TinyFont)));
}

/*Small*/

.root:size(small) {
    padding: 7px 16px;
    font: wixApply(fallback, wixApply(font, value(MainTextFont)), wixApply(font, value(SmallFont)));
}

/*Medium*/

.root:size(medium) {
    padding: 8px 16px;
    font: wixApply(fallback, wixApply(font, value(MainTextFont)), wixApply(font, value(MediumFont)));
}

/*Large*/

.root:size(large) {
    padding: 10px 16px;
    font: wixApply(fallback, wixApply(font, value(MainTextFont)), wixApply(font, value(LargeFont)));

}
