:import {
    -st-from: "../../tpaStyles/styleableExt";
    -st-named: wixApply;
}

:vars {
    OverrideTextColor: wixApply(color);
    OverrideTextFont: wixApply(font);
}

:vars {
    /*SmallTitle values*/
    SmallTitleColor: wixApply(color, color-5);
    SmallTitleFont: wixApply(font, "{theme: 'Heading-M', size: '22px', lineHeight: '1.5em'}");
}

:vars {
    /*RunningText values*/
    RunningTextColor: wixApply(color, color-3);
    RunningTextFont: wixApply(font, "{theme: 'Heading-M', size: '16px', lineHeight: '1.5em'}");
}

.root {
    -st-states: typography(enum(smallTitle, runningText));
}

.root:typography(smallTitle) {
    color: wixApply(fallback, value(OverrideTextColor), value(SmallTitleColor));
    font: wixApply(fallback, value(OverrideTextFont), value(SmallTitleFont));
}

.root:typography(runningText) {
    color: wixApply(fallback, value(OverrideTextColor), value(RunningTextColor));
    font: wixApply(fallback, value(OverrideTextFont), value(RunningTextFont));
}
