:import {
    -st-from: "../../tpaStyles/styleableExt";
    -st-named: wixApply;
}

:vars {
    /*Constance*/
    PrimaryColor: color-5;
    SecondaryColor: color-3;
    SmallTitleFont: "{theme: 'Page-title', size: '24px', lineHeight: '1.33em'}";
    RunningTextFont: "{theme: 'Body-M', size: '16px', lineHeight: '1.5em'}";
    ListTextFont: "{theme: 'Body-M', size: '16px', lineHeight: '2em'}";
    LargeTitleFont: "{theme: 'Heading-M', size: '32px', lineHeight: '1.25em'}";
}

:vars {
    MainTextColor: --overridable;
    MainTextFont: --overridable;
}

.root {
    -st-states: typography(enum(smallTitle, runningText, listText, largeTitle));
}

.root:typography(smallTitle) {
    color: wixApply(color, wixApply(fallback, value(MainTextColor), value(PrimaryColor)));
    font: wixApply(fallback, wixApply(font, value(MainTextFont)), wixApply(font, value(SmallTitleFont)));
}

.root:typography(runningText) {
    color: wixApply(color, wixApply(fallback, value(MainTextColor), value(SecondaryColor)));
    font: wixApply(fallback, wixApply(font, value(MainTextFont)), wixApply(font, value(RunningTextFont)));
}

.root:typography(listText) {
    color: wixApply(color, wixApply(fallback, value(MainTextColor), value(SecondaryColor)));
    font: wixApply(fallback, wixApply(font, value(MainTextFont)), wixApply(font, value(ListTextFont)));
}

.root:typography(largeTitle) {
    color: wixApply(color, wixApply(fallback, value(MainTextColor), value(PrimaryColor)));
    font: wixApply(fallback, wixApply(font, value(MainTextFont)), wixApply(font, value(LargeTitleFont)));
}
