:import {
    -st-from: "../Tabs.st.css";
    -st-default: TPATabs;
}

.root {
    -st-partial-mixin: TPATabs(
            MainTextColor '"--textColor"',
            MainTextFont '"--textFont"',
            SelectedTabIndicatorColor '"--selectedTabIndicatorColor"',
            IndicatorColor '"--indicatorColor"'
    );
}
