:import {
    -st-from: "../../src/components/Tabs/Main/Tabs.st.css";
    -st-default: TPATabs;
}

.root {
    -st-mixin: TPATabs(
            MainTextColor '"--textColor"',
            MainTextFont '"--textFont"',
            SelectedTabIndicatorColor '"--selectedTabIndicatorColor"',
            IndicatorColor '"--indicatorColor"'
    );
}
