:import {
  -st-from: '../ThumbnailImage.st.css';
  -st-named: overrideStyleParams;
}

.root {
  -st-mixin: overrideStyleParams(
    BackgroundColor '"color(--backgroundColor)"',
    BorderColor '"color(--borderColor)"',
    BorderWidth '"unit(fallback(--borderWidth, 0), px)"',
    BorderRadius '"unit(fallback(--borderRadius, 0), px)"',
    ImageOpacity '"unit(--imageOpacity, %)"'
  );
}
