:import {
    -st-from: "../OverlappingCard.st.css";
    -st-default: TPACard;
}

.card {
    -st-partial-mixin: TPACard(
            MainInfoColor '"--infoBGColor"',
            MainMediaColor '"--imageBGColor"',
            MainBorderColor '"--borderColor"',
            MainBorderWidth '"--borderWidth"'
    );
}
