:import {
    -st-from: "../Badge.st.css";
    -st-default: TPABadge;
    -st-named: overrides;
}

.root {
    -st-extends: TPABadge;
    -st-mixin: overrides(
        BadgeBgColor '"color(--badgeBgColor)"',
        BadgeTextColor '"color(--badgeTextColor)"',
    );
}