:import {
    -st-from: "../Badge.st.css";
    -st-default: TPABadge;
    -st-named: badgeOverrides;
}

.mixAll {
    -st-mixin: TPABadge(
        BadgeBgColor '"color(--badgeBgColor)"',
        BadgeTextColor '"color(--badgeTextColor)"',
    );
}

.mixOverrides {
    -st-mixin: badgeOverrides(
        BadgeBgColor '"color(--badgeBgColor)"',
        BadgeTextColor '"color(--badgeTextColor)"',
    );
}
