:import {
    -st-from: "../Badge.st.css";
    -st-default: TPABadge;
    -st-named: overrideStyleParams, priority-light, priority-primary;
}

.mixStyleParams {
    -st-mixin: overrideStyleParams(
        BadgeBgColor '"color(--badgeBgColor)"',
        BadgeTextColor '"color(--badgeTextColor)"',
    );
}

.mixPriorityLight {
  -st-mixin: priority-light(
        BadgeBgColor '"color(--badgeBgColor)"',
        BadgeTextColor '"color(--badgeTextColor)"',
    );
}

.mixPriorityPrimary {
  -st-mixin: priority-primary(
        BadgeBgColor '"color(--badgeBgColor)"',
        BadgeTextColor '"color(--badgeTextColor)"',
    );
}

/* Deprecated - causes big bundle sizes */
.mixAll {
    -st-mixin: TPABadge(
        BadgeBgColor '"color(--badgeBgColor)"',
        BadgeTextColor '"color(--badgeTextColor)"',
    );
}