
:import {
    -st-from: "../FloatingDropdown.st.css";
    -st-default: FloatingDropdown;
}

.root {
    -st-mixin: FloatingDropdown(
            DropdownBackgroundColor '"--DropdownBackgroundColor"',
            DisabledTextColor '"--DisabledTextColor"',
            ButtonTextColor '"--ButtonTextColor"',
            ItemTextColor '"--ItemTextColor"',
            TextFont '"--TextFont"'
    );
}

.divider {
    margin: 20px 0;
}
