
:import {
    -st-from: "../FloatingDropdown.st.css";
    -st-default: FloatingDropdown;
}

.root {
    -st-mixin: FloatingDropdown(
            MainDropdownBackgroundColor '"--DropdownBackgroundColor"',
            MainButtonTextColor '"--ButtonTextColor"',
            MainItemTextColor '"--ItemTextColor"',
            MainTextFont '"--TextFont"'
    );
}

.divider {
    margin: 20px 0;
}
