:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, applyOpacity, font, fallback;
}

:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: TagsList, Tag;
}

/*Defaults*/
:vars {
    /*Defaults params goes here*/
    defaultTagInnerSidePadding: 12px;
    defaultSmallTagInnerPadding: 4px;
    defaultMediumTagInnerPadding: 6px;
    defaultLargeTagInnerPadding: 6px;
    defaultMaxWidth: 220px;
    defaultSmallFont: "{theme: 'Body-M', size: '12px', lineHeight: '16px'}";
    defaultMediumFont: "{theme: 'Body-M', size: '14px', lineHeight: '20px'}";
    defaultLargeFont: "{theme: 'Body-M', size: '16px', lineHeight: '24px'}";
    defaultTagVerticalSpacing: 4px;
    defaultTagHorizontalSpacing: 4px;

    defaultBorderRadius: 0px;
    defaultTextColor: color-5;

    lightBorderWidth: 1px;
    lightDefaultBackgroundColor: color-1;
    lightDefaultBorderColor: applyOpacity(color("color-5"), 0.2);
    solidDefaultBackgroundColor: applyOpacity(color("color-5"), 0.1);

    lightHoverBorderColor: applyOpacity(color("color-5"), 0.6);
    solidHoverBackgroundColor: applyOpacity(color("color-5"), 0.2);

    checkedBackgroundColor: color-8;
    checkedTextColor: color-1;
}

/*Overrides*/
:vars {
    /*
      The font of the tag text instead of the default font |
      @default Depends on the size prop
    */
    MainTextFont: --overridable;
    /*
      The border width of the tag component instead of the default width
      @default Depends on the skin prop (1px or 0px)
    */
    MainBorderWidth: --overridable;
    /*
      The border radius of the tag component instead of the default radius
      @default 0px
    */
    MainBorderRadius: --overridable;
    /*
      The color of the tag text instead of the default color
      @default color-5
    */
    MainTextColor: --overridable;
    /*
      The color of the tab background instead of the default color
      @default Depends on the skin prop (color-1 or color-5 with opacity 0.1)
    */
    MainBackgroundColor: --overridable;
    /*
      The color of the tab border instead of the default color
      @default color-5 with opacity 0.2
    */
    MainBorderColor: --overridable;
    /*
      The vertical spacing between tags component instead of the default spacing
      @default 4px
    */
    MainVerticalSpacing: --overridable;
    /*
      The horizontal spacing between tags component instead of the default spacing
      @default 4px
    */
    MainHorizontalSpacing: --overridable;

    /*
      The color of the tag text on hover instead of the default color
      @default color-5
    */
    HoverTextColor: --overridable;
    /*
      The color of the tab background on hover instead of the default color
      @default Depends on the skin prop (color-1 or color-5 with opacity 0.2)
    */
    HoverBackgroundColor: --overridable;
    /*
      The color of the tab border on hover instead of the default color
      @default color-5 with opacity 0.6
    */
    HoverBorderColor: --overridable;

    /*
      The color of the tag text on selected instead of the default color
      @default color-1
    */
    CheckedTextColor: --overridable;
    /*
      The color of the tab background on selected instead of the default color
      @default color-8
    */
    CheckedBackgroundColor: --overridable;
    /*
      The color of the tab border on selected instead of the default color
      @default color-8
    */
    CheckedBorderColor: --overridable;
}

.root {
    -st-states: alignment(enum(center, left, right)),
                size(enum(small, medium, large)),
                skin(enum(light, solid)),
                rtl;
    -st-extends: TagsList;
}

.root:alignment(center) {
    justify-content: center;
}

.root:alignment(right):rtl,
.root:alignment(left) {
    justify-content: flex-start;
}

.root:alignment(left):rtl,
.root:alignment(right) {
    justify-content: flex-end;
}

.tag {
    max-width: value(defaultMaxWidth);
    margin: fallback(value(MainVerticalSpacing), value(defaultTagVerticalSpacing)) fallback(value(MainHorizontalSpacing), value(defaultTagHorizontalSpacing));
    border-style: solid;
    box-sizing: content-box;
}

.root:size(small) .tag {
    font: fallback(font(value(MainTextFont)), font(value(defaultSmallFont)));
    padding: value(defaultSmallTagInnerPadding) value(defaultTagInnerSidePadding);
}

.root:size(medium) .tag {
    font: fallback(font(value(MainTextFont)), font(value(defaultMediumFont)));
    padding: value(defaultMediumTagInnerPadding) value(defaultTagInnerSidePadding);
}

.root:size(large) .tag {
    font: fallback(font(value(MainTextFont)), font(value(defaultLargeFont)));
    padding: value(defaultLargeTagInnerPadding) value(defaultTagInnerSidePadding);
}

.root:skin(light) .tag {
    background-color: color(fallback(value(MainBackgroundColor), value(lightDefaultBackgroundColor)));
    border-color: color(fallback(value(MainBorderColor), value(lightDefaultBorderColor)));
    border-width: fallback(value(MainBorderWidth), value(lightBorderWidth));
}

.root:skin(solid) .tag {
    background-color: color(fallback(value(MainBackgroundColor), value(solidDefaultBackgroundColor)));
    border: none;
}

.root:skin(light) .tag,
.root:skin(solid) .tag {
    border-radius: fallback(value(MainBorderRadius), value(defaultBorderRadius));
    color: color(fallback(value(MainTextColor), value(defaultTextColor)));
}

.root:skin(light) .tag:focus,
.root:skin(light) .tag:hover {
    background-color: color(fallback(value(HoverBackgroundColor), value(lightDefaultBackgroundColor)));
    border-color: color(fallback(value(HoverBorderColor), value(lightHoverBorderColor)));
}

.root:skin(solid) .tag:focus,
.root:skin(solid) .tag:hover {
    background-color: color(fallback(value(HoverBackgroundColor), value(solidHoverBackgroundColor)));
}

.root:skin(light) .tag:focus,
.root:skin(solid) .tag:focus,
.root:skin(light) .tag:hover,
.root:skin(solid) .tag:hover {
    color: color(fallback(value(HoverTextColor), value(defaultTextColor)));
}

.root:skin(light) .tag.checked,
.root:skin(solid) .tag.checked {
    background-color: color(fallback(value(CheckedBackgroundColor), value(checkedBackgroundColor)));
    border-color: color(fallback(value(CheckedBorderColor), value(checkedBackgroundColor)));
    color: color(fallback(value(CheckedTextColor), value(checkedTextColor)));
}
