
/*Defaults*/
:vars {
  /*Defaults params goes here*/
}

/*Overrides*/
:vars {
  /*Deceleration of overridable placeholders*/
}

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
}


.item {
  width: 72px;
  justify-content: center;
  display: flex;
}