:import {
  -st-from: "../../common/formatters.st";
  -st-named: color;
}

:import {
  -st-from: "../IconButton/IconButton.st.css";
  -st-default: IconButton;
}

/*Defaults*/
:vars {
  /*Defaults params goes here*/
}

/*Overrides*/
:vars {
  /*Deceleration of overridable placeholders*/
}

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
}


.root > * {
  width: 72px;
  justify-content: center;
  display: flex;
}