:import {
  -st-from: "../../common/formatters.st";
  -st-named: color, fallback;
}

:import {
  -st-from: "../Image/Image.st.css";
  -st-default: Image;
  -st-named: overrideStyleParams as overrideStyleParamsImage, defaultBorderWidth, defaultBorderRadius, defaultImageOpacity;
}

/* Default s*/
:vars {
  defaultBackgroundColor: color-2;
  defaultBorderColor: color-5;
}

/* Overrides */
:vars {
  /*
    A background color by a color from the palette for the container
    @default color-2
  */
  BackgroundColor: --overridable;
  /*
    A border color by a color from the palette for the container
    @default color-5
  */
  BorderColor: --overridable;
  /*
    A border width in pixels for the container
    @default 0px
  */
  BorderWidth: --overridable;
  /*
    A border radius in pixels for the container
    @default 0px
  */
  BorderRadius: --overridable;
  /*
    An opacity between 0 to 100 for the image
    @default 100%
  */
  ImageOpacity: --overridable;
}

:vars {
  backgroundColor: color(fallback(value(BackgroundColor), value(defaultBackgroundColor)));
  borderColor: color(fallback(value(BorderColor), value(defaultBorderColor)));
  borderWidth: fallback(value(BorderWidth), value(defaultBorderWidth));
  borderRadius: fallback(value(BorderRadius), value(defaultBorderRadius));
  imageOpacity: fallback(value(ImageOpacity), value(defaultImageOpacity));
}

.root.overrideStyleParams {
    -st-mixin: overrideStyleParamsImage(
      BackgroundColor value(backgroundColor),
      BorderColor value(borderColor),
      BorderWidth value(borderWidth),
      BorderRadius value(borderRadius),
      ImageOpacity value(imageOpacity)
  );
}
