:import {
    -st-from: '../NewCard.st.css';
    -st-default: NewCard;
}

.root {
    width: 100%;
    height: 100%;
}

.card {
    -st-extends: NewCard;
}

.card::container {
    padding: 30px;
}

.card::container.media {
    border: none;
    background-color: gray;
}

.card::container.media img {
    vertical-align: middle;
    max-width: 100%;
}

.card::container.info {
    border: 1px solid black;
}

.root .example3, .root .example3 * {
    box-sizing: border-box;
}

.root .example3 {
    height: 162px;
}

.root .example3.card::container.info {
    padding: 32px;
    height: 100%;
    min-width: 0;
    box-sizing: border-box;
    flex-grow: 1;
}

.root .example3.card::container.media {
    max-width: 236px;
    height: 100%;
}

.root .example3.card::container.media img {
    vertical-align: middle;
    max-width: 100%;
    height: 100%;
}
