:import {
    -st-from: '../NewCard.st.css';
    -st-default: NewCard;
}

.exampleSection {
    margin: 30px 0;
}

.root {
    width: 100%;
    height: 100%;
}

.card {
    -st-extends: NewCard;

    border: 1px solid #000;
}

.card::container.info {
    padding: 30px;
}

.card::container img {
    vertical-align: middle;
}

.card.overlapped {
    border: none;
}

:vars {
    paddingValue: 30px;
}

.card.overlapped::container {
    padding: value(paddingValue);
}

.card.overlapped::container.media {
    background: gray;
}

.card.overlapped::container.info {
    border: 1px solid #000;
}

.card.overlapped::container.info {
    border: 1px solid #000;
    background: #fff;

    margin: value(paddingValue) 0  value(paddingValue) calc(-1 * value(paddingValue));
}
