:import {
    -st-from: '../NewCard.st.css';
    -st-default: NewCard;
}

.root {
    width: 100%;
    height: 100%;
}

.card {
    -st-extends: NewCard;
}

.card::container {
    padding: 30px;
}

.card::container.media {
    border: none;
    background-color: gray;
}

.card::container.media img {
    vertical-align: middle;
    max-width: 100%;
}

.card::container.info {
    border: 1px solid black;
}

.root .example3, .root .example3 * {
    box-sizing: border-box;
}

.root .example3 {
    height: 162px;
}

.root .example3.card::container.info {
    padding: 32px;
    height: 100%;
    min-width: 0;
    box-sizing: border-box;
    flex-grow: 1;
}

.root .example3.card::container.media {
    max-width: 236px;
    height: 100%;
}

.root .example3.card::container.media img {
    vertical-align: middle;
    max-width: 100%;
    height: 100%;
}


.dugma.card {
    border: 1px solid black;
}

.dugma.card::container.info,
.dugma.card::container.media {
    border: none !important;
}

:vars {
    overlappingMargin: 60px;
}

.overlapping.card, .overlapping.card * {
    box-sizing: border-box;
}

.overlapping.card::container.media {
    display: flex;
    align-items: center;
    padding: 30px;
}
.overlapping.card::container.info {
    border: none !important;
    padding: 30px 0;
}

.overlapping.card::container:first-of-type {
    margin-right: calc(-1 * value(overlappingMargin) / 2);
}
.overlapping.card::container:last-of-type {
    margin-left: calc(-1 * value(overlappingMargin) / 2);
}

.overlapping.card::container.info .overlapContent {
    border: 1px solid black;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: value(overlappingMargin);
}
