:import {
    -st-from: "../Calendar.st.css";
    -st-default: Calendar;
}

.root {
    -st-mixin: Calendar(
        TitleMainTextColor '"--SettingTitleMainTextColor"',
        TitleMainTextFont '"--SettingTitleMainTextFont"',
        SelectorMainTextColor: '"--SelectorMainTextColor"',
        SelectorMainTextFont: '"--SelectorMainTextFont"',
        TodayMainTextColor '"--TodayMainTextColor"',
        TodayMainBackgroundColor '"--TodayMainBackgroundColor"',
        TodayMainTextFont '"--TodayMainTextFont"',
        TodayMainBorderColor '"--TodayMainBorderColor"',
        TodayMainBorderWidth '"--TodayMainBorderWidth"',
        TodayMainBorderRadius '"--TodayMainBorderRadius"'
    );
}
