:import {
    -st-from: "../Calendar.st.css";
    -st-default: Calendar;
}

.root {
    -st-mixin: Calendar(
        TitleMainTextColor '"--TitleMainTextColor"',
        TitleMainTextFont '"--TitleMainTextFont"'
    );
}

/* Used because settings panel playground enforces font size */
.root span[data-hook="calendar-title"] {
    font-size: 32px !important;
}