:import {
  -st-from: '../HeroImage.st.css';
  -st-default: HeroImage;
  -st-named: overrideStyleParams;
}

.root {
  -st-mixin: overrideStyleParams(
    BackgroundColor '"color(--backgroundColor)"',
    ImageOpacity '"unit(--imageOpacity, %)"'
  );
}
