:import {
    -st-from: "../../common/formatters.st";
    -st-named: applyUnit, color, fallback, font, value;
}

:import {
    -st-from: "../../common/palette.st.css";
    -st-named: errorColor;
}

:vars {
    /*Defaults*/
    DefaultColor: color-5;
    DefaultDisabledColor: color-3;
    DefaultErrorColor: value(errorColor);
    DefaultBackgroundColor: color-1;
    DefaultWidth: 104px;
    DefaultWidthXsmall: 80px;
}

:vars {
    /*Overrides*/
    MainColor: --overridable;
    DisabledColor: --overridable;
    MainWidth: --overridable;
}

:vars {
    counterColor: color(fallback(value(MainColor), value(DefaultColor)));
    counterDisabledColor: color(fallback(value(DisabledColor), value(DefaultDisabledColor)));
    counterWidth: fallback(value(MainWidth), value(DefaultWidth));
    counterWidthXsmall: fallback(value(MainWidth), value(DefaultWidthXsmall));
}

.root {
    -st-states: error, disabled;
    display: inline-flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: color(value(DefaultBackgroundColor));
    border-width: 1px;
    border-style: solid;
    border-color: color(value(counterColor));
}

.root:not(.xsmall) {
    width: value(counterWidth);
    height: 40px;
    padding: 0 6px;
}

.root.xsmall {
    padding: 0 4px;
    width: value(counterWidthXsmall);
    height: 28px;
}
.root:error {
    border-color: value(DefaultErrorColor);
}

.root:disabled {
    border-color: color(value(counterDisabledColor));
}

.btn {
    background: none;
    padding: 6px;
    border: none;
    cursor: pointer;
}

.xsmall .btn {
    padding: 4px;
}

.btn path {
    fill: color(value(counterColor));
}

.btn[disabled] {
    cursor: default;
}

.btn[disabled] path {
    fill: color(value(counterDisabledColor));
}

.root:disabled .btn {
    color: color(value(counterDisabledColor));
}

.root:error svg {
    color: value(DefaultErrorColor);
}

.root .inputWrapper {
    flex: 1;
}

.root input {
    background: color(value(DefaultBackgroundColor));
    padding: 0;
    border: none;
    text-align: center;
    width: 100%;
    color: value(counterColor);
}

.root:not(.xsmall) input{
    font: font("{theme: 'Body-M', size: '16px', lineHeight: '1.5em'}");
}

.xsmall input {
    font: font("{theme: 'Body-M', size: '12px', lineHeight: '1em'}");
}

.xsmall svg {
    width: 8px;
    height: 8px;
    padding: 0;
}

.xsmall .error {
    width: 16px;
    height: 16px;
    padding: 2px 0 0 0;
}

.root:disabled input {
    color: color(value(counterDisabledColor));
}



/* Removing browser-specific default buttons inside input element */
.root input::-webkit-outer-spin-button,
.root input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.root input[type=number] {
    -moz-appearance: textfield;
}

.root input::-ms-clear {
    display: none;
}







