:import {
    -st-from: "../../common/formatters.st";
    -st-named: color;
}

:vars {
    /*Defaults*/
    /*Defaults params goes here*/
}

:vars {
    /*Overrides*/
    /*Deceleration of overridable placeholders*/
}

.root {
    -st-states: mobile, skin(enum(success, error, status));
    display: inline-flex;
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 14px;
    font-family: "HelveticaNeueW01-55Roma";
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.10), 0 4px 8px 0 rgba(0,0,0,0.10);
}

.root:skin(success) {
    background-color: #57C487;
}

.root:skin(error) {
    background-color: #F64D43;
}

.root:skin(status) {
    background-color: #212121;
}


.root:mobile {
    /*mobile css goes here*/
}

.root .message {
    margin: 16px 32px;
    display: inline-block;
    max-height: 40px;
    overflow: hidden;
}

.root .closeButton {
    margin: 14px 12px 14px 0;
}