/* Defaults - default params */
:vars {
    textColor: #f542dd;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.text {
    color: value(textColor);
    font-size: 20px;
}