:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback;
}

/* Defaults - default params */
:vars {
  defaultBgColor: color(color-1);
}

/* Overrides - deceleration of overridable parameters by the consumer */
:vars {
  /*
    Main background color
  */
  BgColor: --overridable;
}

/* Overrides */
:vars {
  bgColor: color(fallback(value(BgColor), value(defaultBgColor)));
}

.root {
  -st-states: disabled;
  background-color: value(defaultBgColor);
  border: 1px solid #C9C9C9;
  width: 220px;
  height: 220px;
  font-weight: bold;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: blue;
    font-size: 20px;
}

.daysRow {
    display: flex;
    flex-direction: row;
    margin: 5px 10px;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: black;
}


.root.overrideStyleParams {
  background-color: value(bgColor);
}
