/* Defaults */
:vars {
  bgColor: white;
  borderColor: #C9C9C9;
  width: 220px;
  height: 220px;
  headerTextColor: blue;
  dayTextColor: black;
}

.root {
  -st-states: disabled;
  background-color: value(bgColor);
  border: 1px solid value(borderColor);
  width: value(width);
  height: value(height);
  font-weight: bold;
}

.header {
}

.daysContainer {
}

.daysRow {
    display: flex;
    flex-direction: row;
    margin: 5px 10px;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: value(dayTextColor);
}
