:import {
    -st-from: "../Counter.st.css";
    -st-default: TPACounter;
}

.root {
    -st-mixin: TPACounter(
            MainColor '"--mainColor"',
            DisabledColor '"--disabledColor"',
            MainWidth '"unit(--mainWidth, px)"'
    );
}
