:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, applyOpacity;
}

:import {
    -st-from: "wix-style-react/dist/src/AddItem/AddItem.st.css";
    -st-default: AddItem;
}

:import {
    -st-from: "wix-style-react/dist/src/Text/Text.st.css";
    -st-default: Text;
}

/*Defaults*/
:vars {
    /*Defaults params goes here*/
}

/*Overrides*/
:vars {
    /*Deceleration of overridable placeholders*/
}

.root {
    -st-extends: AddItem;
    -st-states: hasError;
}

.root:theme(dashes) {
    border: dashed 1px #ED24D9;
    background-color: #FFFFFF;
    color: #ED24D9;
}

.root:theme(dashes):hover {
    background-color: applyOpacity(#ED24D9, 0.1);
    border: dashed 1px applyOpacity(#ED24D9, 0.6);
}

.root:theme(dashes):active {
    background-color: #FFFFFF;
}

/* We might change opacity on hover */
.root:hasError, .root:hasError:not(:disabled):theme(dashes):hover {
    background-color: #FFFFFF;
    border: dashed 1px #DF3131;
    color: #DF3131;
    opacity: 1;
}

/* Remove WSR focus, opacity is just for now */
.root:not(:disabled):focus-visible:theme(dashes):hasError {
    border: dashed 1px #DF3131;
    opacity: 0.6;
}

.root:theme(dashes):disabled {
    background-color: #FFFFFF;
    color: #969696;
    border: dashed 1px #969696;
    opacity: 1;
}

/* Remove WSR focus, opacity is just for now */
.root:not(:disabled):focus-visible:theme(dashes) {
    box-shadow: none;
    border: dashed 1px #ED24D9;
    opacity: 0.6;
}

.root::text Text {
    color: #ED24D9;
}

.root:hasError::text Text {
    color: #DF3131;
}

.root:disabled::text Text {
    color: #969696;
}
