:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, font, fallback;
}

:vars {
    /*Defaults*/
    DefaultLabelColor: color-5;
    Font: font("{theme: 'Body-M', size: '16px', lineHeight: '1.5em'}");
}

:vars {
    /*Overrides*/
    LabelColor: --overridable;
}

:vars {
    CurrentLabelColor: color(fallback(value(LabelColor), value(DefaultLabelColor)));
}

.root {
    display: inline-block;
    margin: 0;
    padding: 0;

    border: none;
}

.wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: -12px;
}

.wrapper > * {
    margin-bottom: 12px;
}

.label {
    color: value(CurrentLabelColor);
    font: value(Font);

    margin-bottom: 20px;
}
