:import {
    -st-from: "../../../src/tpaStyles/styleableExt";
    -st-named: wixApply;
}

:vars {
    /*Defaults*/
    /*Defaults params goes here*/
    PrimaryColor: color-5;
    DisabledColor: color-3;
}

:vars {
    /*Overrides*/
    /*Deceleration of overridable placeholders*/
    IconColor: --overridable;
}

.root {
    -st-states: mobile, checked, disabled, labelPlacement( enum(right, left) );
    /*css goes here*/
}

.root:mobile {
    /*mobile css goes here*/
}

.root {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: 6px;
}

.root:labelPlacement(right) {
    grid-template-areas: 'toggle label';
}

.root:labelPlacement(left) {
    grid-template-areas: 'label toggle';
}

.toggle {
    grid-area: toggle;
}

.label {
    grid-area: label;
    color: wixApply(color, value(PrimaryColor));
}

.icon path {
    stroke: wixApply(color, wixApply(fallback, value(IconColor), value(PrimaryColor)));
}

.icon:hover {
    opacity: 0.6;
}

.root:checked .icon path {
    fill: wixApply(color, wixApply(fallback, value(IconColor), value(PrimaryColor)));
}

.root:disabled .icon path {
    fill: wixApply(color, value(DisabledColor));
    stroke: wixApply(color, value(DisabledColor));
}

.root:disabled .label {
    color: wixApply(color, value(DisabledColor));
}

/* .toggle,
.label {
    border: 1px solid red;
} */