:import {
  -st-from: '../Image.st.css';
  -st-default: Image;
  -st-named: overrideStyleParams;
}

.root {
  -st-mixin: overrideStyleParams(
    ContainerBackgroundColor '"color(--containerBackgroundColor)"',
    ContainerBorderColor '"color(--containerBorderColor)"',
    ContainerBorderWidth '"unit(fallback(--containerBorderWidth, 0), px)"',
    ContainerBorderRadius '"unit(fallback(--containerBorderRadius, 0), px)"',
    ContainerOpacity '"unit(--containerOpacity, %)"',
    ImageOpacity '"unit(--imageOpacity, %)"',
  );
}
