:import {
  -st-from: "../Checkbox.st.css";
  -st-default: TPACheckbox;
}

.root {
  -st-partial-mixin: TPACheckbox(
    TextColor '"--textColor"',
    BorderColor '"--borderColor"',
    IconColor '"--iconColor"',
    BoxColor '"--boxColor"',
    BoxBorderColor '"--boxBorderColor"'
  );
}
