:import {
    -st-from: "./Title/Title.st.css";
    -st-named: titleTextMixin;
}

:vars {
    /*Defaults*/
}

:vars {
    /*Overrides*/
    TitleMainTextColor: --overridable;
    TitleMainTextFont: --overridable;
}

.root {
    margin: 20px;
}

.titleText {
    -st-mixin: titleTextMixin;
}

.defaultTitle {
    margin-top: 64px;
    width: 100%;
    text-align: center;
    display: block;
}

.defaultSelector {
    margin-top: 60px;
}