:vars {
    /*Overrides*/
    TitleMainTextColor: --overridable;
    TitleMainTextFont: --overridable;
    SelectorMainTextColor: --overridable;
    SelectorMainTextFont: --overridable;
}

.root {
    margin: 20px;
}

.defaultTitle {
    margin-top: 64px;
    width: 100%;
    text-align: center;
    display: block;
}
 
.defaultSelector {
    margin: auto;
    margin-top: 60px;
}
