:import {
    -st-from: "./Title/Title.st.css";
    -st-named: titleTextMixin;
}

:import {
    -st-from: "./Selector/Selector.st.css";
    -st-named: selectorMixin, periodTextMixin;
}

:import {
  -st-from: "../Text/Text.st.css";
  -st-default: Text;
}

:vars {
    /*Overrides*/
    TitleMainTextColor: --overridable;
    TitleMainTextFont: --overridable;
    SelectorMainTextColor: --overridable;
    SelectorMainTextFont: --overridable;
}

.root {
    margin: 20px;
}

.titleText {
    -st-mixin: titleTextMixin;
}

.selector {
    -st-mixin: selectorMixin;
}

.selector .periodText {
    -st-mixin: periodTextMixin;
}

.defaultTitle {
    margin-top: 64px;
    width: 100%;
    text-align: center;
    display: block;
}
 
.selector.defaultSelector {
    margin: auto;
    margin-top: 60px;
}
