:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, applyUnit, zeroAsTrue;
}

:vars {
    /*Constance*/
    MainColor: color-5;
    MainWidth: 1;
}

:vars {
    /*Overrides*/
    MainDividerColor: value(MainColor);
    MainDividerWidth: value(MainWidth);
}

.root {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: color(fallback(value(MainDividerColor), value(MainColor)));
    border-bottom-width: applyUnit(fallback(zeroAsTrue(value(MainDividerWidth)), value(MainWidth)), px);
}
