:import {
    -st-from: "../TextButton.st.css";
    -st-default: TPAButton;
}

.root {
    -st-extends: TPAButton;
    -st-mixin: TPAButton(
            MainTextColor '"--textButtonTextColor"',
            MainTextFont '"--textButtonTextFont"'
    );
}
