.tableTitle {
  font-family: "HelveticaNeueW01-65Medi","HelveticaNeueW02-65Medi","HelveticaNeueW10-65Medi","Helvetica Neue","Helvetica","Arial","メイリオ","meiryo","ヒラギノ角ゴ pro w3","hiragino kaku gothic pro","sans-serif";
  margin-bottom: 20px;
  font-size: 18px;
}