.root {
    width: 300px;
    height: 640px;
    position: relative;
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.root iframe {
    position: absolute;
    top: 45px;
    left: 13px;
    z-index: 2;
    width: 273px;
    height: 548px;
    background-color: white;
    border-radius: 11px;
}
