$colorPickerWidth: 210px;
$colorPickerMargin: 5px;
$palettePickerMarginLeft: 96px;
$palettePickerWidth: 96px + 12px + $palettePickerMarginLeft;

.root {
  .styleItem {
    padding: 50px;

    .title {
      margin-bottom: 24px;
    }

    .numberPickerContainer {
      display: flex;
    }

    .fontPickerContainer {
      display: flex;
    }

    .colorPalettePicker {
      position: relative;
      min-height: 150px;
      display: inline-block;
      padding-right: $palettePickerWidth;

      .colorPickerContainer {
        max-width: ($colorPickerWidth + ($colorPickerMargin * 2)) * 3;

        .pickerList {
          padding: 0;
          list-style: none;
          margin: 0;
          display: flex;
          flex-wrap: wrap;

          > li {
            width: $colorPickerWidth;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: $colorPickerMargin;

            label {
              margin-bottom: 0.6em;
            }
          }
        }
      }

      .palettePickerContainer {
        position: absolute;
        right: 0;
        top: 0;
        width: $palettePickerWidth;
        max-height: 100%;
        overflow-y: auto;
        text-align: right;

        .palettePicker {
          display: inline-block;

          label {
            display: block;
            text-align: center;
          }

          :global(.color-picker-palette-picker) {
            display: inline-block;
          }
        }
      }
    }


    .pickerList {
      padding: 0;
      list-style: none;
    }
  }
}
