:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, applyOpacity;
}

:import {
    -st-from: "../Text/Text.st.css";
    -st-default: TPAText;
}

/*Defaults*/
:vars {
    /*Defaults params goes here*/
}

/*Overrides*/
:vars {
    /*Deceleration of overridable placeholders*/
}

.root {
    -st-states: isMultiday, isClicked, isRightToLeft;
    position: relative;
    padding: 4px 4px 4px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time {
    padding-right: 2px;
    -st-mixin: TPAText(
        MainTextFont "{theme: 'Body-M', size: '14px', lineHeight: '1px'}",
        MainTextColor 'color(color-4)' 
    );
}

.root:hover::before {
    content: '';
    background-color: applyOpacity(color(color-5), 0.06);
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
}

.root:isClicked::before {
    content: '';
    background-color: applyOpacity(color(color-5), 0.1);
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
}

.root:isRightToLeft {
    direction: rtl;
    display: table;
    float: right;
    padding: 4px 12px 4px 4px;
}

.root:isRightToLeft .time{
    padding-right: 0;
    padding-left: 2px;
    display: table-cell;
}

.title {
  -st-mixin: TPAText(
        MainTextFont "{theme: 'Body-M', size: '14px', lineHeight: '1px'}",
        MainTextColor 'color(color-5)' 
    );
}

.root:isMultiday {
    background: applyOpacity(color(color-8), 0.2);
}

.root:isMultiday .time {
    -st-mixin: TPAText(
        MainTextFont "{theme: 'Body-M', size: '14px', lineHeight: '1px'}",
        MainTextColor 'color(color-5)' 
    );
}
