:import {
  -st-from: "../../../common/formatters.st";
  -st-named: fallback, color;
}

:import {
  -st-from: "../../Text/Text.st.css";
  -st-default: Text;
}

:vars {
  /*Overrides*/
  SelectorMainTextColor: --overridable;
  SelectorMainTextFont: --overridable;
}

.period {
  text-align: center;
  flex: 1;
  color: fallback(value(SelectorMainTextColor), 'color(color-5)');
  font: fallback(value(SelectorMainTextFont), 'font({theme: \'Body-M\', size: \'18px\'})');
}

.root {
  display: flex;
  align-items: center;
  width: 12.6em;
  min-width: 207px;
  line-height: 1.5 !important;
}

.button {
  cursor: pointer;
  font-size: inherit;
  background: none;
  border: none;
}

[dir=rtl] .button {
  transform: rotateY(180deg);
}

.root svg {
  fill: color(fallback(value(SelectorMainTextColor), color-5));
}

.periodText {
  -st-mixin: Text(
    MainTextColor value(SelectorMainTextColor),
    MainTextFont fallback(value(SelectorMainTextFont), 'font({theme: \'Body-M\', size: \'18px\'})')
  );
}
