:import {
  -st-from: "../../Text/Text.st.css";
  -st-default: Text;
}

:vars {
  /*Overrides*/
  SelectorMainTextColor: --overridable;
  SelectorMainTextFont: --overridable;
}

.period {
  text-align: center;
  flex: 1;
  color: "fallback(color(--SelectorMainTextColor), color(color-5))";
  font: '"fallback(font(--SelectorMainTextFont), font({theme: \'Body-M\', size: \'18px\'}))"';
}

.selector {
  display: flex;
  align-items: center;
  width: 12.6em;
  min-width: 207px;
  line-height: 1.5 !important;
}

.button {
  cursor: pointer;
  font-size: inherit;
  background: none;
  border: none;
}

[dir=rtl] .button {
  transform: rotateY(180deg);
}

.selector svg {
  fill: "fallback(color(--SelectorMainTextColor), color(color-5))";
}

.periodText {
  -st-mixin: Text(
    MainTextColor '"--SelectorMainTextColor"',
    MainTextFont '"fallback(font(--SelectorMainTextFont), font({theme: \'Body-M\', size: \'18px\'}))"'
  );
}