.root {
    -st-states: isOpen;
    box-sizing: border-box;
}

.root * {
    box-sizing: border-box;
}

.root:isOpen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1999;
}
.modal {
    /* to bit z-index of header in mobile */
    z-index: 2000;

    opacity: 0;

    -webkit-transition: opacity 0.3s, -webkit-transform 0.4s; /* Safari */
    transition: opacity 0.2s, transform 0.4s;
    transition-timing-function: ease;
}

.root:isOpen .modal {
    opacity: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}
