:import {
    -st-from: "../Event.st.css";
    -st-default: TPAEvent;
}

.root {
    -st-mixin: TPAEvent(
            TimeColor '"--timeColor"',
            TitleColor '"--titleColor"',
            AllDayBackground '"--allDayBackground"',
            FontStyle '"--fontStyle"',
            AllDayOpacity '"unit(fallback(zeroAsTrue(--allDayOpacity), 0.2), "")"'
    );
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}
