:import {
  -st-from: "../IconButton.st.css";
  -st-default: TPAIconButton;
  -st-named: skin-line, skin-full;
}

.mixSkinLine {
  -st-mixin: skin-line(
          IconColor '"color(--iconColor)"'
  );
}

.mixSkinFull {
  -st-mixin: skin-full(
          IconColor '"color(--iconColor)"'
  );
}

/* Deprecated - causes big bundle sizes */
.mixAll {
  -st-mixin: TPAIconButton(
          IconColor '"color(--iconColor)"'
  );
}
