:import {
    -st-from: "../../common/formatters.st";
    -st-named: color;
}

:import {
    -st-from: "../Text/Text.st.css";
    -st-default: TPAText;
}

:import {
    -st-from: "../Button/Button.st.css";
    -st-default: TPAButton;
}

:vars {
    TextColor: color-5;
    DisabledTextColor: color-3;
}

:vars {
    disabledTextColor: color(value(DisabledTextColor));
    iconWith: 24px;
    maxWidth: 272px;
    minWidth: 220px;
    textColor: color(value(TextColor));
}

.root {
    -st-extends: TPAButton;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    transition: none;
}

.textContent {
    max-width: calc(value(maxWidth) - value(iconWith));
    overflow: hidden;
}

.root:priority(basic) .text {
    -st-mixin: TPAText(
        MainTextFont "{theme: 'Body-M', size: '16px'}"
    );
    display: flex;
    color: value(textColor);
}

.arrowIcon path {
    fill: value(textColor);
}

.label {
    margin-right: 4px;
    opacity: 0.6;
}

.root::content {
    flex: 1;
    text-align: start;
}

.root:mobile:size(medium),
.root:size(medium) {
    padding: 8px 0;
}

.root:priority(basic),
.root:priority(basic):hover,
.root:priority(basic):focus,
.root:priority(basic):disabled {
    background: transparent;
    transition: none;
}

.root:priority(basic):disabled {
    cursor: default;
}

.root:priority(basic):disabled .label,
.root:priority(basic):disabled .text {
    opacity: 1;
    color: value(disabledTextColor);
}

.root:priority(basic):disabled .arrowIcon path {
    fill: value(disabledTextColor);
}
