:import {
    -st-from: "../../common/formatters.st";
    -st-named: color;
}

:import {
    -st-from: "../Button/Button.st.css";
    -st-default: TPAButton;
}

:import {
    -st-from: "../Input/Input.st.css";
    -st-default: TPAInput;
    -st-named: backgroundColor, colorDisabled, colorPlaceholder, color as inputColor;
}

.root {
    -st-extends: TPAButton;
    -st-mixin: TPAButton(
        MainBackgroundColor 'value(backgroundColor)',
        MainTextColor 'value(inputColor)'
    );
    display: flex;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
}

.arrowIcon {
    color: value(inputColor);
}

.root::content {
    flex: 1;
    text-align: start;
}

.root:mobile:size(medium),
.root:size(medium) {
    padding: 8px 0;
}

.root:mobile:size(medium)::before,
.root:size(medium)::before {
    width: 12px;
    content: '';
}

.root:mobile:size(medium)::after,
.root:size(medium)::after {
    width: 7px;
    content: '';
}

.root::content {
    margin: initial;
}
.root:priority(basic):focus,
.root:priority(basic):hover {
    background-color: value(backgroundColor);
}

.root:priority(basic):disabled {
    cursor: default;
    background-color: value(backgroundColor);
    color: value(colorDisabled);
    border-color: value(colorDisabled);
}

.root:priority(basic):disabled:hover {
    border-color: value(colorDisabled);
}
