:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, font, applyOpacity;
}

:import {
    -st-from: "../Text/Text.st.css";
    -st-default: TPAText;
}

/*Defaults*/
:vars {
    DefaultAlignment: left;
    DefaultWidth: 1px;
    DefaultOpacity: 1;
    DefaultTextColor: color-5;
    DefaultBackgroundColor: color-1;
    DefaultBorderColor: color-2;
    DefaultTodayColor: color-8;
    DefaultFontStyle: "{theme: 'Body-M', size: '16px', lineHeight: '1em'}";
}

/*Overrides*/
:vars {
    OverridedAlignment: --overridable
    Width: --overridable
    Opacity: --overridable
    TextColor: --overridable
    BackgroundColor: --overridable
    BorderColor: --overridable
    TodayColor: --overridable
    FontStyle: --overridable
}

:vars {
    CurrentAlignment: fallback(value(OverridedAlignment), value(DefaultAlignment));
    CurrentWidth: fallback(value(Width), value(DefaultWidth));
    CurrentOpacity: fallback(value(Opacity), value(DefaultOpacity))
    CurrentTextColor: color(fallback(value(TextColor), value(DefaultTextColor)));
    CurrentBackgroundColor: color(fallback(value(BackgroundColor), value(DefaultBackgroundColor)));
    CurrentBorderColor: color(fallback(value(BorderColor), value(DefaultBorderColor)));
    CurrentTodayColor: color(fallback(value(TodayColor), value(DefaultTodayColor)));
    CurrentFontStyle: fallback(value(FontStyle), font(value(DefaultFontStyle)));
}

.root {
    -st-states: isStretchAble, timeType(enum(PreviousMonth, PreviousDays, CurrentDay, NextMonth))
    border: value(CurrentWidth) solid applyOpacity(value(CurrentBorderColor), value(CurrentOpacity));
    background-color: value(CurrentBackgroundColor);
    text-align: value(CurrentAlignment);
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
}

.innerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 12px;
}

/* .childrenContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 67%;
} */

@media only screen and (max-width: 75px) {
    .innerContainer {
        padding: 8px 4px;
    }
}

.time {
    font-size: 16px;
    line-height: 1em;
    -st-extends: TPAText;
    -st-mixin: TPAText(
        MainTextColor value(CurrentTextColor),
        MainTextFont value(CurrentFontStyle)
    );
}


/* isStrechAble == true */
.root:isStretchAble {
    padding-top: 0;
    height: 100%;
}

/* Previous Month */

.root:timeType(PreviousMonth) {
    background: applyOpacity(color(color-2), 0.1);
    border: 1px solid color(color-2);
}

.root:timeType(PreviousMonth) .time {
    -st-mixin: TPAText(
        MainTextColor applyOpacity(color(color-5), 0.35)
    );
}

/* Previous Days */

.root:timeType(PreviousDays) {
    background: applyOpacity(color(color-2), 0.1);
    border: 1px solid color(color-2);
}

.root:timeType(PreviousDays) .time {
    -st-mixin: TPAText(
        MainTextColor color(color-5)
    );
}

/* Current Day */

.root:timeType(CurrentDay) {
    background: color(color-1);
    border: 1px solid value(CurrentTodayColor);
}

.root:timeType(CurrentDay) .time {
    -st-mixin: TPAText(
        MainTextColor value(CurrentTodayColor)
    );
}

/* Next Month */

.root:timeType(NextMonth) {
    background: color(color-1);
    border: 1px solid color(color-2);
}

.root:timeType(NextMonth) .time {
    -st-mixin: TPAText(
        MainTextColor applyOpacity(color(color-5), 0.35)
    );
}