:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, applyOpacity, fallback, font, zeroAsTrue;
}

:import {
    -st-from: "wix-style-react/dist/src/Calendar/Calendar.st.css";
    -st-default: WSRCalendar;
    -st-named: dayWrapper; /* currently due to a stylable issue this is the best way to override styling of nested classes */
}

:import {
    -st-from: "wix-ui-core/dist/src/components/popover/Popover.st.css";
    -st-named: popoverContent;
}

:import {
    -st-from: "../../common/palette.st.css";
    -st-named: focusRing;
}

/* Defaults - default params */
:vars {
    calendarWidth: 100%;
    calendarHeight: 100%;
    sidePadding: 20px;

    DefaultBackgroundColor: color-1;

    DefaultNavigationArrowsColor: color-5;
    DefaultMonthAndYearCaptionFont: "{theme: 'Body-M', lineHeight: '24px'}";
    DefaultMonthAndYearCaptionColor: color-5;

    DefaultWeekdayFont: "{theme: 'Body-M', lineHeight: '20px'}";
    DefaultWeekdayTextColor: color-8;

    DefaultDayFont: "{theme: 'Body-M', size: '14px', lineHeight: '20px'}";
    DeafultDayColor: color-5;
    DefaultSelectedDayColor: color-1;
    DefaultSelectedDayBGColor: color-8;
    DefaultSelectedDayBorderRadius: 50%;
    DefaultDisabledDayColor: color-3;
}

/*Overrides*/
:vars {
    /*
        The calendar background color
        @default color-1
    */
    BackgroundColor: --overridable;
    /*
        The color of the calendar navigation arrows
        @default color-5
    */
    NavigationArrowsColor: --overridable;
    /*
        The font of the calendar month snd year caption.
        @default {theme: 'Body-M', lineHeight: '24px'}
        @fixed The font size is 16px and could not be overridden.
    */
    MonthAndYearCaptionFont: --overridable;
    /*
        The color of the calendar month and year caption
        @default color-5
    */
    MonthAndYearCaptionColor: --overridable;
    /*
        The font of the calendar's weekdays section.
        @default {theme: 'Body-M', lineHeight: '20px'}
        @fixed The font size is 14px and could not be overridden.
    */
    WeekdayFont:  --overridable;
    /*
        The font color of the calendar's weekdays.
        @default color-8
    */
    WeekdayTextColor: --overridable;
    /*
        The font of a specific date.
        @default {theme: 'Body-M', size: '14px', lineHeight: 1 }
        @fixed The line height is 1 and could not be overridden.
    */
    DayFont: --overridable;
    /*
        The font color of a specific day.
        @default color-5
    */
    DayColor: --overridable;
    /*
        The font color of the selected day.
        @default color-1
    */
    SelectedDayColor: --overridable;
    /*
        The background color of the selected day.
        @default color-color-8
    */
    SelectedDayBGColor: --overridable;
    /*
        The border radius of the selected day. The value could be in px or %.
        @default 50%
    */
    SelectedDayBorderRadius: --overridable;
    /*
        The background color of a disabled day. Disabled day is a date that are not selectable.
        @default color-3
    */
    DisabledDayColor: --overridable;
}

/* Overrides - deceleration of overridable parameters by the consumer */
:vars {
    CurrentBackgroundColor: color(fallback(value(BackgroundColor), value(DefaultBackgroundColor)));

    CurrentNavigationArrowsColor: color(fallback(value(NavigationArrowsColor), value(DefaultNavigationArrowsColor)));
    CurrentMonthAndYearCaptionFont: fallback(font(value(MonthAndYearCaptionFont)), font(value(DefaultMonthAndYearCaptionFont)));
    CurrentMonthAndYearCaptionColor: color(fallback(value(MonthAndYearCaptionColor), value(DefaultMonthAndYearCaptionColor)));
    DropdownOptionSelectedAndHoverBGColor: applyOpacity(value(CurrentDayColor), 0.06);

    CurrentWeekdayFont: fallback(font(value(WeekdayFont)), font(value(DefaultWeekdayFont)));
    CurrentWeekdayTextColor: color(fallback(value(WeekdayTextColor), value(DefaultWeekdayTextColor)));

    CurrentDayFont: fallback(font(value(DayFont)), font(value(DefaultDayFont)));
    CurrentDayColor: color(fallback(value(DayColor), value(DeafultDayColor)));
    CurrentDayBGColorHover: applyOpacity(value(CurrentSelectedDayBGColor), 0.1);
    CurrentSelectedDayColor: color(fallback(value(SelectedDayColor), value(DefaultSelectedDayColor)));
    CurrentSelectedDayBGColor: color(fallback(value(SelectedDayBGColor), value(DefaultSelectedDayBGColor)));
    CurrentSelectedDayBorderRadius: fallback(value(SelectedDayBorderRadius),value(DefaultSelectedDayBorderRadius));
    CurrentDisabledDayColor: color(fallback(value(DisabledDayColor), value(DefaultDisabledDayColor)));
}

/* The component's css without the overrideStyleParams */

.root {
}

.root .popoverContent {
    border-radius: 0;
}

.calendar {
    -st-extends: WSRCalendar;
}

.calendar::month {
    width: value(calendarWidth);
    height: value(calendarHeight);
    min-width: 280px;
    min-height: 332px;
}

/* calendar header */

.calendar::header {
    padding: 28px value(sidePadding) 0;
    background-color: value(CurrentBackgroundColor);
}

.calendar::header::arrow {
    color: value(CurrentNavigationArrowsColor);
    width: 24px;
    height: 24px;
}
.calendar::header::arrow:hover:not(active) {
    background: none;
    color: applyOpacity(value(CurrentNavigationArrowsColor), 0.7);
}

.calendar::header::arrow:active {
    background: none;
    color: applyOpacity(value(CurrentNavigationArrowsColor), 0.7);
}

.calendar::header::caption {
    font: value(CurrentMonthAndYearCaptionFont);
    font-size: 16px;
    color: value(CurrentMonthAndYearCaptionColor);
}

/******************************************************/

/* calendar Weekdays */

.calendar::weekdays {
    padding: 0 value(sidePadding);
    background-color: value(CurrentBackgroundColor);
}

.calendar::weekday {
    padding: 20px 0 16px;
    font: value(CurrentWeekdayFont);
    font-size: 14px;
    color: value(CurrentWeekdayTextColor);
}

/******************************************************/

/* calendar body */

.calendar::body {
    padding: 0 value(sidePadding) 20px;
    background-color: value(CurrentBackgroundColor);
}

.calendar::day {
    font: value(CurrentDayFont);
    color: value(CurrentDayColor);
    width: calc(34em/14);
    height: calc(34em/14);
    border-radius: value(CurrentSelectedDayBorderRadius);
}

.calendar::dayText {
    line-height: 1;
}

.calendar::dayIndicationContainer {
    padding: calc(4em/14) 0;
    height: calc(12em/14);
}

.calendar::day:hover {
    color: color(value(DeafultDayColor));
    background-color: value(CurrentDayBGColorHover);
}

.calendar::day:today:not(:selected):not(:hover) {
    background: none;
    color: value(CurrentSelectedDayBGColor);
    box-shadow: none;
}

.calendar::day:today:not(:selected):hover {
    color: value(CurrentSelectedDayBGColor);
    background-color: value(CurrentDayBGColorHover);
}

.calendar::day:today:not(:selected):not(:hover):focus {
    box-shadow: none;
}

.calendar::day:selected:not(:outside) {
    color: value(CurrentSelectedDayColor);
}

.calendar::day:outside, .calendar::day:disabled {
    color: value(CurrentDisabledDayColor);
}

/* todo: need to check if it's really override the viewer focus ring and if we should remove it..  */
.calendar::day:focus::after {
    border-radius: value(CurrentSelectedDayBorderRadius);
    -st-mixin: focusRing();
}

.calendar::day:singleDay:not(:outside) .dayWrapper {
    background-color: value(CurrentSelectedDayBGColor);
}

.calendar::day:singleDay:not(:outside):hover .dayWrapper {
    background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.7);
}

.root .dayWrapper {
    border-radius: value(CurrentSelectedDayBorderRadius);
}


/******************************************************/


/* month and years dropdowns */

.calendar::header::monthDropdown::caption ,
.calendar::header::yearDropdown::caption {
    font: value(CurrentMonthAndYearCaptionFont);
    font-size: 16px;
    color: value(CurrentMonthAndYearCaptionColor);
    height: 24px;
}

/* List */

.calendar::header::monthDropdown::dropdown::list::contentContainer,
.calendar::header::yearDropdown::dropdown::list::contentContainer {
    background-color: value(CurrentBackgroundColor);
    padding: 12px 0;
}

/* List: Scroll */
.calendar::header::monthDropdown::dropdown::list::options::-webkit-scrollbar,
.calendar::header::yearDropdown::dropdown::list::options::-webkit-scrollbar {
    width: 16px;
}

.calendar::header::monthDropdown::dropdown::list::options::-webkit-scrollbar-thumb,
.calendar::header::yearDropdown::dropdown::list::options::-webkit-scrollbar-thumb {
    /* https://stackoverflow.com/a/16829330/5343330 */
    background-color: value(DropdownOptionSelectedAndHoverBGColor);
    background-clip: content-box;
    border-radius: calc(4px * 2);
    border: 4px solid transparent;
    height: 72px;
}

.calendar::header::monthDropdown::dropdown::list::options::-webkit-scrollbar-thumb:hover,
.calendar::header::yearDropdown::dropdown::list::options::-webkit-scrollbar-thumb:hover {
    background-color: applyOpacity(value(CurrentDayColor), 0.15);
}

.calendar::header::monthDropdown::dropdown::list::options::-webkit-scrollbar-thumb:active,
.calendar::header::yearDropdown::dropdown::list::options::-webkit-scrollbar-thumb:active {
    background-color: applyOpacity(value(CurrentDayColor), 0.25);
}
/*************************/

.calendar::header::monthDropdown::dropdown::list::selectableOption,
.calendar::header::yearDropdown::dropdown::list::selectableOption {
    background-color: value(CurrentBackgroundColor);
    padding: 0 20px;
}

.calendar::header::monthDropdown::dropdown::list::selectableOption:not(:disabled):not(:selected):hover,
.calendar::header::yearDropdown::dropdown::list::selectableOption:not(:disabled):not(:selected):hover {
    background-color: value(DropdownOptionSelectedAndHoverBGColor);
}

.calendar::header::monthDropdown::dropdown::list::selectableOption:selected,
.calendar::header::yearDropdown::dropdown::list::selectableOption:selected {
    background-color: value(DropdownOptionSelectedAndHoverBGColor);
}

.calendar::header::monthDropdown::dropdown::list::selectableOption:selected:hover,
.calendar::header::yearDropdown::dropdown::list::selectableOption:selected:hover {
    background-color: value(DropdownOptionSelectedAndHoverBGColor);
}

.calendar::header::monthDropdown::dropdown::list::selectableOption::title,
.calendar::header::yearDropdown::dropdown::list::selectableOption::title {
    color: value(CurrentDayColor);
    font: font("{theme: 'Body-M', size: '14px', lineHeight: '20px'}");
}

/******************************************************/











/* The component's css with the overrideStyleParams */

/*.root {*/
/*}*/

/*.root .popoverContent {*/
/*    border-radius: 0;*/
/*}*/

/*.calendar {*/
/*    -st-extends: WSRCalendar;*/
/*}*/

/*.calendar::month {*/
/*    width: value(calendarWidth);*/
/*    height: value(calendarHeight);*/
/*}*/

/*!* calendar header *!*/
/*.calendar::header {*/
/*    background-color: value(CurrentBackgroundColor); !* for testing, remove it *!*/
/*    padding: 28px value(sidePadding) 0;*/
/*}*/

/*.calendar::header::arrow {*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/
/*.calendar::header::arrow:hover:not(active) {*/
/*    background: none;*/
/*}*/

/*.calendar::header::arrow:active {*/
/*    background: none;*/
/*}*/

/*.calendar::header::caption {*/
/*    font-size: 16px;*/
/*}*/
/*!******************************************************!*/


/*!* calendar Weekdays *!*/
/*.calendar::weekdays {*/
/*    padding: 0 value(sidePadding);*/
/*}*/

/*.calendar::weekday {*/
/*    padding: 20px 0 16px;*/
/*    font-size: 14px;*/
/*}*/
/*!******************************************************!*/


/*!* calendar body *!*/
/*.calendar::body {*/
/*    padding: 0 value(sidePadding) 20px;*/
/*}*/

/*.calendar::day {*/
/*    font-size: 14px;*/
/*    width: 34px;*/
/*    height: 34px;*/
/*}*/

/*.calendar::day:today:not(:selected):not(:hover) {*/
/*    background: none;*/
/*    box-shadow: none;*/
/*}*/

/*.calendar::day:today:not(:selected):not(:hover):focus {*/
/*    box-shadow: none;*/
/*}*/

/*.calendar::day:focus::after {*/
/*    -st-mixin: focusRing();*/
/*}*/

/*!******************************************************!*/


/*!* month and years dropdowns *!*/
/*.calendar::header::monthDropdown::caption ,*/
/*.calendar::header::yearDropdown::caption {*/
/*    font-size: 16px;*/
/*    height: 24px;*/
/*}*/

/*!* List *!*/
/*.calendar::header::monthDropdown::dropdown::list::contentContainer,*/
/*.calendar::header::yearDropdown::dropdown::list::contentContainer {*/
/*    padding: 12px 0;*/
/*}*/

/*!* List: Scroll *!*/
/*.calendar::header::monthDropdown::dropdown::list::options::-webkit-scrollbar,*/
/*.calendar::header::yearDropdown::dropdown::list::options::-webkit-scrollbar {*/
/*    width: 16px;*/
/*}*/

/*.calendar::header::monthDropdown::dropdown::list::options::-webkit-scrollbar-thumb,*/
/*.calendar::header::yearDropdown::dropdown::list::options::-webkit-scrollbar-thumb {*/
/*    !* https://stackoverflow.com/a/16829330/5343330 *!*/
/*    background-clip: content-box;*/
/*    border-radius: calc(4px * 2);*/
/*    border: 4px solid transparent;*/
/*    height: 72px;*/
/*}*/
/*!*************************!*/

/*.calendar::header::monthDropdown::dropdown::list::selectableOption,*/
/*.calendar::header::yearDropdown::dropdown::list::selectableOption {*/
/*    padding: 0 20px;*/
/*}*/

/*.calendar::header::monthDropdown::dropdown::list::selectableOption::title,*/
/*.calendar::header::yearDropdown::dropdown::list::selectableOption::title {*/
/*    font: font("{theme: 'Body-M', size: '14px', lineHeight: '20px'}");*/
/*}*/
/*!******************************************************!*/




/*!* calendar header *!*/
/*.overrideStyleParams .calendar::header {*/
/*    background-color: value(CurrentBackgroundColor);*/
/*}*/

/*.overrideStyleParams .calendar::header::arrow {*/
/*    color: value(CurrentNavigationArrowsColor);*/
/*}*/

/*.overrideStyleParams .calendar::header::arrow:hover:not(active) {*/
/*    color: applyOpacity(value(CurrentNavigationArrowsColor), 0.7);*/
/*}*/

/*.overrideStyleParams .calendar::header::arrow:active {*/
/*    color: applyOpacity(value(CurrentNavigationArrowsColor), 0.7);*/
/*}*/

/*.overrideStyleParams .calendar::header::caption {*/
/*    font: value(CurrentMonthAndYearCaptionFont);*/
/*    color: value(CurrentMonthAndYearCaptionColor);*/
/*}*/
/*!******************************************************!*/

/*!* calendar Weekdays *!*/
/*.overrideStyleParams .calendar::weekdays {*/
/*    background-color: value(CurrentBackgroundColor);*/
/*}*/

/*.overrideStyleParams .calendar::weekday {*/
/*    font: value(CurrentWeekdayFont);*/
/*    color: value(CurrentWeekdayTextColor);*/
/*}*/
/*!******************************************************!*/

/*!* calendar body *!*/
/*.overrideStyleParams .calendar::body {*/
/*    background-color: value(CurrentBackgroundColor);*/
/*}*/

/*.overrideStyleParams .calendar::day {*/
/*    font: value(CurrentDayFont);*/
/*    color: value(CurrentDayColor);*/
/*    border-radius: value(CurrentSelectedDayBorderRadius);*/
/*}*/

/*.overrideStyleParams .calendar::day:hover {*/
/*    color: color(value(DeafultDayColor));*/
/*    background-color: value(CurrentDayBGColorHover);*/
/*}*/

/*.overrideStyleParams .calendar::day:today:not(:selected):not(:hover) {*/
/*    color: value(CurrentSelectedDayBGColor);*/
/*}*/

/*.overrideStyleParams .calendar::day:today:not(:selected):hover {*/
/*    color: value(CurrentSelectedDayBGColor);*/
/*    background-color: value(CurrentDayBGColorHover);*/
/*}*/

/*.overrideStyleParams .calendar::day:selected:not(:outside) {*/
/*    color: value(CurrentSelectedDayColor);*/
/*}*/

/*.overrideStyleParams .calendar::day:outside, .calendar::day:disabled {*/
/*    color: value(CurrentDisabledDayColor);*/
/*}*/

/*.overrideStyleParams .calendar::day:focus::after {*/
/*    border-radius: value(CurrentSelectedDayBorderRadius);*/
/*}*/

/*.overrideStyleParams .calendar::day:singleDay:not(:outside) .dayWrapper {*/
/*    background-color: value(CurrentSelectedDayBGColor);*/
/*}*/
/*.overrideStyleParams .calendar::day:singleDay:not(:outside):hover .dayWrapper {*/
/*    background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.7);*/
/*}*/
/*.overrideStyleParams .dayWrapper {*/
/*    border-radius: value(CurrentSelectedDayBorderRadius);*/
/*}*/
/*!******************************************************!*/

/*!* month and years dropdowns *!*/
/*.overrideStyleParams .calendar::header::monthDropdown::caption ,*/
/*.overrideStyleParams .calendar::header::yearDropdown::caption {*/
/*    font: value(CurrentMonthAndYearCaptionFont);*/
/*    color: value(CurrentMonthAndYearCaptionColor);*/
/*}*/

/*!* List *!*/
/*.overrideStyleParams .calendar::header::monthDropdown::dropdown::list::contentContainer,*/
/*.overrideStyleParams .calendar::header::yearDropdown::dropdown::list::contentContainer {*/
/*    background-color: value(CurrentBackgroundColor);*/
/*}*/

/*!* List: Scroll *!*/
/*.overrideStyleParams .calendar::header::monthDropdown::dropdown::list::options::-webkit-scrollbar-thumb,*/
/*.overrideStyleParams .calendar::header::yearDropdown::dropdown::list::options::-webkit-scrollbar-thumb {*/
/*    background-color: value(DropdownOptionSelectedAndHoverBGColor);*/
/*}*/

/*.overrideStyleParams .calendar::header::monthDropdown::dropdown::list::options::-webkit-scrollbar-thumb:hover,*/
/*.overrideStyleParams .calendar::header::yearDropdown::dropdown::list::options::-webkit-scrollbar-thumb:hover {*/
/*    background-color: applyOpacity(value(CurrentDayColor), 0.15);*/
/*}*/

/*.overrideStyleParams .calendar::header::monthDropdown::dropdown::list::options::-webkit-scrollbar-thumb:active,*/
/*.overrideStyleParams .calendar::header::yearDropdown::dropdown::list::options::-webkit-scrollbar-thumb:active {*/
/*    background-color: applyOpacity(value(CurrentDayColor), 0.25);*/
/*}*/
/*!*************************!*/

/*.overrideStyleParams .calendar::header::monthDropdown::dropdown::list::selectableOption,*/
/*.overrideStyleParams .calendar::header::yearDropdown::dropdown::list::selectableOption {*/
/*    background-color: value(CurrentBackgroundColor);*/
/*}*/

/*.overrideStyleParams .calendar::header::monthDropdown::dropdown::list::selectableOption:not(:disabled):not(:selected):hover,*/
/*.overrideStyleParams .calendar::header::yearDropdown::dropdown::list::selectableOption:not(:disabled):not(:selected):hover {*/
/*    background-color: value(DropdownOptionSelectedAndHoverBGColor);*/
/*}*/

/*.overrideStyleParams .calendar::header::monthDropdown::dropdown::list::selectableOption:selected,*/
/*.overrideStyleParams .calendar::header::yearDropdown::dropdown::list::selectableOption:selected {*/
/*    background-color: value(DropdownOptionSelectedAndHoverBGColor);*/
/*}*/

/*.overrideStyleParams .calendar::header::monthDropdown::dropdown::list::selectableOption:selected:hover,*/
/*.overrideStyleParams .calendar::header::yearDropdown::dropdown::list::selectableOption:selected:hover {*/
/*    background-color: value(DropdownOptionSelectedAndHoverBGColor);*/
/*}*/

/*.overrideStyleParams .calendar::header::monthDropdown::dropdown::list::selectableOption::title,*/
/*.overrideStyleParams .calendar::header::yearDropdown::dropdown::list::selectableOption::title {*/
/*    color: value(CurrentDayColor);*/
/*}*/
/*!******************************************************!*/
