:import {
    -st-from: "../../common/formatters.st";
    -st-named: color;
}

:import {
    -st-from: "wix-style-react/dist/src/DatePicker/DatePicker.st.css";
    -st-default: WSRDatePicker;
}

/*Defaults*/
:vars {
    /*Defaults params goes here*/
}

/*Overrides*/
:vars {
    /*Deceleration of overridable placeholders*/
}

.root {
    /*css goes here*/
}

.wsrDatePicker {
    -st-extends: WSRDatePicker;
    sivan: 'hi';
}
