:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, applyOpacity, fallback, font;
}

:import {
    -st-from: "wix-style-react/dist/src/DatePicker/DatePicker.st.css";
    -st-default: WSRDatePicker;
}

:import {
    -st-from: "wix-style-react/dist/src/Calendar/Calendar.st.css";
    -st-named: dayCircle; /* currently due to a stylable issue this is the best way to override styling of nested classes */
}

/*Defaults*/
:vars {
    calendarWidth: 280px;
    calendarHeight: 332px;
    sidePadding: 20px;

    DefaultBackgroundColor: color-1;

    DefaultNavigationArrowsColor: color-5;
    DefaultMonthAndYearCaptionFont: "{theme: 'Body-M', lineHeight: '24px'}";
    DefaultMonthAndYearCaptionColor: color-8;

    DefaultWeekdayFont: "{theme: 'Body-M', lineHeight: '20px'}";
    DefaultWeekdayTextColor: color-8;

    DefaultDayFont: "{theme: 'Body-M', lineHeight: '20px'}";
    DeafultDayColor: color-5;
    DefaultSelectedDayColor: color-1;
    DefaultSelectedDayBGColor: color-8;
    DefaultDisabledDayColor: color-3;

}

/*Overrides*/
:vars {
    BackgroundColor: --overridable;

    NavigationArrowsColor: --overridable;
    MonthAndYearCaptionFont: --overridable;
    MonthAndYearCaptionColor: --overridable;

    WeekdayFont:  --overridable;
    WeekdayTextColor: --overridable;

    DayFont: --overridable;
    DayColor: --overridable;
    SelectedDayColor: --overridable;
    SelectedDayBGColor: --overridable;
    DisabledDayColor: --overridable;
}

/*Fallbacks*/
:vars {
    CurrentBackgroundColor: color(fallback(value(BackgroundColor), value(DefaultBackgroundColor)));

    CurrentNavigationArrowsColor: color(fallback(value(NavigationArrowsColor), value(DefaultNavigationArrowsColor)));
    CurrentMonthAndYearCaptionFont: fallback(font(value(MonthAndYearCaptionFont)), font(value(DefaultMonthAndYearCaptionFont)));
    CurrentMonthAndYearCaptionColor: color(fallback(value(MonthAndYearCaptionColor), value(DefaultMonthAndYearCaptionColor)));

    CurrentWeekdayFont: fallback(font(value(WeekdayFont)), font(value(DefaultWeekdayFont)));
    CurrentWeekdayTextColor: color(fallback(value(WeekdayTextColor), value(DefaultWeekdayTextColor)));

    CurrentDayFont: fallback(font(value(DayFont)), font(value(DefaultDayFont)));
    CurrentDayColor: color(fallback(value(DayColor), value(DeafultDayColor)));
    CurrentSelectedDayColor: color(fallback(value(SelectedDayColor), value(DefaultSelectedDayColor)));
    CurrentSelectedDayBGColor: color(fallback(value(SelectedDayBGColor), value(DefaultSelectedDayBGColor)));
    CurrentDisabledDayColor: color(fallback(value(DisabledDayColor), value(DefaultDisabledDayColor)));
}

.root {
}


/** Option 1: override the styling using the pseudo elements. Define custom-selector for all the "complicated" selectors in WSR **/

.wsrDatePicker {
    -st-extends: WSRDatePicker;
}

.wsrDatePicker::calendar::month {
    width: value(calendarWidth);
    height: value(calendarHeight);
}

/* calendar header */

.wsrDatePicker::calendar::header {
    padding: 28px value(sidePadding) 0;
    background-color: value(CurrentBackgroundColor);
}

.wsrDatePicker::calendar::header::arrow {
    color: value(CurrentNavigationArrowsColor);
}
.wsrDatePicker::calendar::header::arrow:hover:not(active) {
    background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.1);
}

.wsrDatePicker::calendar::header::arrow:active {
    /* todo: ask michal what is the real styling */
    background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.1);
}

.wsrDatePicker::calendar::header::caption {
    font: value(CurrentMonthAndYearCaptionFont);
    font-size: 16px;
    color: value(CurrentMonthAndYearCaptionColor);
}

/******************************************************/

/* calendar Weekdays */

.wsrDatePicker::calendar::weekdays {
    padding: 0 value(sidePadding);
    background-color: value(CurrentBackgroundColor);
}

.wsrDatePicker::calendar::weekday {
    padding: 20px 0 16px;
    font: value(CurrentWeekdayFont);
    font-size: 14px;
    color: value(CurrentWeekdayTextColor);
}

/******************************************************/

/* calendar body */

.wsrDatePicker::calendar::body {
    padding: 0 value(sidePadding) 20px;
    background-color: value(CurrentBackgroundColor);
}

.wsrDatePicker::calendar::day {
    font: value(CurrentDayFont);
    font-size: 14px;
    color: value(CurrentDayColor);
}

.wsrDatePicker::calendar::day:hover {
    color: color(value(DeafultDayColor));
    background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.1);
}

.wsrDatePicker::calendar::day:today:not(:selected):not(:hover) {
    /* todo: ask michal what is the real styling */
    background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.2);
    box-shadow: none;
}
.wsrDatePicker::calendar::day:today:not(:selected):not(:hover):focus {
    box-shadow: none;
}

.wsrDatePicker::calendar::day:selected:not(:outside) {
    color: value(CurrentSelectedDayColor);
}

.wsrDatePicker::calendar::day:outside, .wsrDatePicker::calendar::day.disabled {
    color: value(CurrentDisabledDayColor);
}

.wsrDatePicker::calendar::day:singleDay:not(:outside) .dayCircle {
    background-color: value(CurrentSelectedDayBGColor);
}
.wsrDatePicker::calendar::day:singleDay:not(:outside):hover .dayCircle {
    /* todo: ask michal what is the real styling */
     background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.7);
}


/******************************************************/


/* month and years dropdowns */
.wsrDatePicker::calendar::header::monthDropdown::dropdown::popoverContent,
.wsrDatePicker::calendar::header::yearDropdown::dropdown::popoverContent {
    top: 4px !important;
}

.wsrDatePicker::calendar::header::monthDropdown::dropdown::caption ,
.wsrDatePicker::calendar::header::yearDropdown::dropdown::caption {
    font: value(CurrentWeekdayFont);
    font-size: 14px;
    color: value(CurrentWeekdayTextColor);
}

/* List */

.wsrDatePicker::calendar::header::monthDropdown::dropdown::list::contentContainer,
.wsrDatePicker::calendar::header::yearDropdown::dropdown::list::contentContainer {
    background-color: value(CurrentBackgroundColor);
    padding: 12px 0;
}

.wsrDatePicker::calendar::header::monthDropdown::dropdown::list::selectableOption,
.wsrDatePicker::calendar::header::yearDropdown::dropdown::list::selectableOption {
    background-color: value(CurrentBackgroundColor);
    padding: 0 20px;
}

.wsrDatePicker::calendar::header::monthDropdown::dropdown::list::selectableOption:not(:disabled):not(:selected):hover,
.wsrDatePicker::calendar::header::yearDropdown::dropdown::list::selectableOption:not(:disabled):not(:selected):hover {
    background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.06);
}

.wsrDatePicker::calendar::header::monthDropdown::dropdown::list::selectableOption:selected,
.wsrDatePicker::calendar::header::yearDropdown::dropdown::list::selectableOption:selected {
    /* todo: ask michal what is the real styling */
    /* background-color, color */
}

.wsrDatePicker::calendar::header::monthDropdown::dropdown::list::selectableOption:selected:hover,
.wsrDatePicker::calendar::header::yearDropdown::dropdown::list::selectableOption:selected:hover {
    /* todo: ask michal what is the real styling */
    /* background-color, color */
}

.wsrDatePicker::calendar::header::monthDropdown::dropdown::list::selectableOption::title,
.wsrDatePicker::calendar::header::yearDropdown::dropdown::list::selectableOption::title {
    color: value(CurrentDayColor);
    font: font("{theme: 'Body-M', size: '14px', lineHeight: '20px'}");
}

/******************************************************/












/** Option 2: overriding the styling using st-mixin **/


/*.wsrDatePicker {*/
/*    -st-mixin: WSRDatePicker(*/
/*            CalendarWidth value(calendarWidth),*/
/*            CalendarHeight value(calendarHeight),*/

/*            !* calendar header *!*/
/*            CalendarHeaderPadding 28px value(sidePadding) 0,*/
/*            CalendarHeaderBGColor value(CurrentBackgroundColor),*/
/*            !**********************!*/

/*            !* calendar Weekdays *!*/
/*            CalendarWeekdaysPadding 0 value(sidePadding),*/
/*            CalendarWeekdaysBGColor value(CurrentBackgroundColor),*/
/*            CalendarWeekdayPadding 20px 0 16px,*/
/*            CalendarWeekdayFont value(CurrentWeekdayFont),*/
/*            CalendarWeekdayTextColor value(CurrentWeekdayTextColor),*/
/*            !**********************!*/

/*            !* calendar body *!*/
/*            CalendarBodyPadding 0 value(sidePadding) 20px,*/
/*            CalendarBodyBGColor value(CurrentBackgroundColor),*/

/*            CalendarDayFont value(CurrentDayFont),*/
/*            CalendarDayDefaultColor  value(CurrentDayColor),*/

/*            !**********************!*/
/*    );*/
/*}*/