:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, applyOpacity, fallback, font;
}

:import {
    -st-from: "wix-style-react/dist/src/DatePicker/DatePicker.st.css";
    -st-default: WSRDatePicker;
}

/*Defaults*/
:vars {
    calendarWidth: 280px;
    calendarHeight: 332px;
    sidePadding: 20px;

    DefaultBackgroundColor: color-1;

    DefaultWeekdayFont: "{theme: 'Body-M', size: '14px', lineHeight: '20px'}";
    DefaultWeekdayTextColor: color-8;

    DefaultDayFont: "{theme: 'Body-M', size: '14px', lineHeight: '20px'}";
    DeafultDayColor: color-5;
    DefaultSelectedDayColor: color-1;
    DefaultSelectedDayBGColor: color-8;
    DefaultDisabledDayColor: color-3;

}

/*Overrides*/
:vars {
    BackgroundColor: --overridable;

    WeekdayFont:  --overridable;
    WeekdayTextColor: --overridable;

    DayFont: --overridable;
    DayColor: --overridable;
    SelectedDayColor: --overridable;
    SelectedDayBGColor: --overridable;
    DisabledDayColor: --overridable;
}

/*Fallbacks*/
:vars {
    CurrentBackgroundColor: color(fallback(value(BackgroundColor), value(DefaultBackgroundColor)));

    CurrentWeekdayFont: color(fallback(value(WeekdayFont), value(DefaultWeekdayFont)));
    CurrentWeekdayTextColor: color(fallback(value(WeekdayTextColor), value(DefaultWeekdayTextColor)));

    CurrentDayFont: color(fallback(value(DayFont), value(DefaultDayFont)));
    CurrentDayColor: color(fallback(value(DayColor), value(DeafultDayColor)));
    CurrentSelectedDayColor: color(fallback(value(SelectedDayColor), value(DefaultSelectedDayColor)));
    CurrentSelectedDayBGColor: color(fallback(value(SelectedDayBGColor), value(DefaultSelectedDayBGColor)));
    CurrentDisabledDayColor: color(fallback(value(DisabledDayColor), value(DefaultDisabledDayColor)));
}

.root {
}


/** Option 1: override the styling using the pseudo elements. Define custom-selector for all the "complicated" selectors in WSR **/

.wsrDatePicker {
    -st-extends: WSRDatePicker;
}

.wsrDatePicker::datePickerCalendar::calendarMonth {
    width: value(calendarWidth);
    height: value(calendarHeight);
}

/* calendar header */

.wsrDatePicker::datePickerCalendar::calendarHeader {
    padding: 28px value(sidePadding) 0;
    background-color: value(CurrentBackgroundColor);
}

/******************************************************/

/* calendar Weekdays */

.wsrDatePicker::datePickerCalendar::calendarWeekdays {
    padding: 0 value(sidePadding);
    background-color: value(CurrentBackgroundColor);
}

.wsrDatePicker::datePickerCalendar::calendarWeekday {
    padding: 20px 0 16px;
    font: value(CurrentWeekdayFont); /* font-size is 14px and shouldn't be overridable */
    color: value(CurrentWeekdayTextColor);
}

/******************************************************/

/* calendar body */

.wsrDatePicker::datePickerCalendar::calendarBody {
    padding: 0 value(sidePadding) 20px;
    background-color: value(CurrentBackgroundColor);
}

.wsrDatePicker::datePickerCalendar::calendarDay {
    font: value(CurrentDayFont);
    color: value(CurrentDayColor);
}

.wsrDatePicker::datePickerCalendar::calendarDay:hover {
    color: color(value(DeafultDayColor));
    background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.1);
}

.wsrDatePicker::datePickerCalendar::todayNotSelectedDay {
    /* todo: ask michal what is the real styling */
    background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.2);
    box-shadow: none;
}
.wsrDatePicker::datePickerCalendar::todayNotSelectedDayFocus {
    box-shadow: none;
}

.wsrDatePicker::datePickerCalendar::selectedDay {
    color: value(CurrentSelectedDayColor);
}

.wsrDatePicker::datePickerCalendar::outsideDay, .wsrDatePicker::datePickerCalendar::disabledDay {
    color: value(CurrentDisabledDayColor);
}

.wsrDatePicker::datePickerCalendar::singleSelectedDayCircle {
    background-color: value(CurrentSelectedDayBGColor);
}
.wsrDatePicker::datePickerCalendar::singleSelectedDayCircleHover {
    /* todo: ask michal what is the real styling */
     background-color: applyOpacity(value(CurrentSelectedDayBGColor), 0.6);
}


/******************************************************/
















/** Option 2: overriding the styling using st-mixin **/


/*.wsrDatePicker {*/
/*    -st-mixin: WSRDatePicker(*/
/*            CalendarWidth value(calendarWidth),*/
/*            CalendarHeight value(calendarHeight),*/

/*            !* calendar header *!*/
/*            CalendarHeaderPadding 28px value(sidePadding) 0,*/
/*            CalendarHeaderBGColor value(CurrentBackgroundColor),*/
/*            !**********************!*/

/*            !* calendar Weekdays *!*/
/*            CalendarWeekdaysPadding 0 value(sidePadding),*/
/*            CalendarWeekdaysBGColor value(CurrentBackgroundColor),*/
/*            CalendarWeekdayPadding 20px 0 16px,*/
/*            CalendarWeekdayFont value(CurrentWeekdayFont),*/
/*            CalendarWeekdayTextColor value(CurrentWeekdayTextColor),*/
/*            !**********************!*/

/*            !* calendar body *!*/
/*            CalendarBodyPadding 0 value(sidePadding) 20px,*/
/*            CalendarBodyBGColor value(CurrentBackgroundColor),*/

/*            CalendarDayFont value(CurrentDayFont),*/
/*            CalendarDayDefaultColor  value(CurrentDayColor),*/

/*            !**********************!*/
/*    );*/
/*}*/