:import {
    -st-from: "../ColorPicker.st.css";
    -st-default: TPAColorPicker;
}

.root {
    -st-mixin: TPAColorPicker(
            ItemSize '"--itemSize"',
            BorderRadius '"unit(fallback(zeroAsTrue(--anotherBorderRadius), 12), %)"'
    );
}
