:import {
    -st-from: "../SimpleDatePicker/SimpleDatePicker.st.css";
    -st-default: SimpleDatePicker;
}

/* Defaults - default params */
:vars {
  boxBGColor: #bcbce0;
  titleColor: white;
  calWidth: 400px;
  calHeight: 400px;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: value(calWidth);
  height: value(calHeight);
  background-color: value(boxBGColor);
  font-weight: bold;
}

.title {
    color: value(titleColor);
    font-size: 30px;
    margin: 20px 0;
}

/** The first option - using -st-mixin */
/*.myDatePicker {*/
/*    -st-mixin: SimpleDatePicker(*/
/*            containerBGColor value(boxBGColor),*/
/*            borderColor black,*/
/*            headerTextColor #f542e6,*/
/*            dayTextColor white,*/
/*    );*/
/*}*/
/**************************************/


/** The second option - using -st-extends */
.myDatePicker {
    -st-extends: SimpleDatePicker;
    background-color: value(boxBGColor);
    border-color: black;
}

.myDatePicker::header::text {
    color: #f542e6;
}

.myDatePicker::day {
    color: white;
}
/**************************************/