:import {
    -st-from: "../SimpleDatePicker/SimpleDatePicker.st";
    -st-default: SimpleDatePicker;
}

/* Defaults - default params */
:vars {
  boxBGColor: lightgray;
  width: 400px;
  height: 400px;
  titleColor: white;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: value(width);
  height: value(height);
  background-color: value(boxBGColor);
}

.title {
    color: value(titleColor);
    font-size: 30px;
    margin: 20px 0;
}

.myDatePicker {
    -st-mixin: SimpleDatePicker(
            bgColor value(boxBGColor),
            borderColor black,
            headerTextColor white,
            dayTextColor white,
    );
}
