:import {
    -st-from: "../SimpleDatePicker/SimpleDatePicker.st.css";
    -st-default: SimpleDatePicker;
    /* for the 3rd option */
    /*-st-named: --containerBGColor, --borderColor, --dayTextColor, --headerTextColor;*/
}

:vars {
  boxBGColor: #bcbce0;
}

.root {
    width: 400px;
    height: 400px;
    background-color: value(boxBGColor);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-size: 30px;
    margin: 20px 0;
}

/** The first option - using -st-mixin */
.myDatePicker {
    -st-mixin: SimpleDatePicker(
            containerBGColor value(boxBGColor),
            borderColor black,
            headerTextColor #f542e6,
            dayTextColor white,
    );
}
/**************************************/


/** The second option - using -st-extends */
/*.myDatePicker {*/
/*    -st-extends: SimpleDatePicker;*/
/*    background-color: value(boxBGColor);*/
/*    border-color: black;*/
/*}*/

/*.myDatePicker::header::text {*/
/*    color: #f542e6;*/
/*}*/

/*.myDatePicker::day {*/
/*    color: white;*/
/*}*/
/**************************************/



/** The third option - using css vars */
/*.myDatePicker {*/
/*    -st-extends: SimpleDatePicker;*/
/*    --containerBGColor: value(boxBGColor);*/
/*    --borderColor: black;*/
/*    --dayTextColor: white;*/
/*    --headerTextColor: gray;*/
/*}*/
/**************************************/

