:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, font, applyOpacity;
}

:import {
  -st-from: "wix-ui-core/index.st.css";
  -st-named: Checkbox;
}

:import {
    -st-from: "../../common/palette.st.css";
    -st-named: errorColor;
}

:vars {
    /*Defaults*/
    DefaultTextColor: color-5;
    DefaultBorderColor: color-5;
    DefaultBoxBorderColor: color-5;
    DefaultIconColor: color-8;
    DefaultBoxColor: color-1;
    DisabledColor: color-3;
    Font: font("{theme: 'Body-M', size: '16px', lineHeight: '24px'}");
}

:vars {
    /*Overrides*/
    TextColor: --overridable;
    BorderColor: --overridable;
    BoxBorderColor: --overridable;
    IconColor: --overridable;
    BoxColor: --overridable;
}

:vars {
    CurrentBorderColor: color(fallback(value(BorderColor), value(DefaultBorderColor)));
    CurrentBoxBorderColor: color(fallback(value(BoxBorderColor), value(DefaultBoxBorderColor)));
    CurrentIconColor: color(fallback(value(IconColor), value(DefaultIconColor)));
    CurrentTextColor: color(fallback(value(TextColor), value(DefaultTextColor)));
    CurrentBoxColor: color(fallback(value(BoxColor), value(DefaultBoxColor)));
}

.root {
    -st-extends: Checkbox;
    -st-states: box, checked, disabled, error;

    display: inline-flex;
    box-sizing: border-box;

    font: value(Font);
    transition: background-color 0.2s linear, border-color 0.2s linear;
}

.root * {
    box-sizing: inherit;
}

.root::childContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
}

.root::box {
    line-height: 0;
    display: flex;
}

.root::box::after {
    content: '';
    width: 12px;
}

.core {
    width: 100%;
    display: flex;
    align-items: center;
}


.root:box {
    display: flex;
    background-color: color(value(CurrentBoxColor));
    border: 1px solid applyOpacity(value(CurrentBoxBorderColor), 0.6);
    box-sizing: border-box;
    position: relative;
}

.root:box::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    background-color: applyOpacity(value(CurrentIconColor), 0.1);
    border: 1px solid color(value(CurrentIconColor));
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.root:box::childContainer {
    padding: 16px;
    padding-left: 0;
}

.root:box::box {
    padding-left: 16px;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;

    border: 1px solid;
    border-color: applyOpacity(value(CurrentBorderColor), 0.6);
    border-radius: 1px;

    font-size: 13px;
    line-height: 1.2;
    vertical-align: middle;
    transition: border-color 0.2s linear;
}

.icon svg {
    margin: 1px 3px;

    width: 8px;
    height: 7px;
}

.icon path {
    fill: value(CurrentIconColor);
}

.label {
    display: inline-block;
    color: value(CurrentTextColor);
}

.label.suffixed {
    flex: 1;
    white-space: nowrap;
    display: flex;
}

.label.suffixed::after {
    content: '';
    width: 5px;
}

.suffix {
    flex: 0;
}

/* STATES */
.root:hover:box, .root:focus-within:box {
    border-color: applyOpacity(value(CurrentBoxBorderColor), 1);
}

.root:box.disabled:hover:not(:checked), .root:box:disabled:focus-within:not(:checked) {
    border-color: applyOpacity(value(CurrentBoxBorderColor), 0.6);
}

.root:box:checked::after {
    opacity: 1;
}

.root:hover .icon, .root:focus-within .icon {
    border-color: applyOpacity(value(CurrentBorderColor), 1);
}

.root:error:not(:hover) .icon {
    border-color: color(value(errorColor));
}

.root:disabled {
    cursor: default;
    pointer-events: none;
}

.root:disabled .icon {
    border-color: color(value(DisabledColor));
}

.root:disabled .label {
    color: color(value(DisabledColor));
}

.root:disabled .icon path {
    fill: color(value(DisabledColor));
}
