:import {
  -st-from: "../<%= ComponentName %>.st.css";
  -st-named: overrideStyleParams;
}

.root {
  -st-mixin: overrideStyleParams(
    BgColor ''"color(--myBackgroundOverride)"'',
    TextFont ''"font(--myFontOverride)"''
  );
}
