:import {
    -st-from: "../Ratings.st.css";
    -st-default: TPARatings;
}

.root {}

.ratings {
    -st-mixin: TPARatings(
            IconColor '"--iconColor"',
            IconEmptyColor '"--iconEmptyColor"',
            TextColor '"--textColor"'
    );
}
