:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback;
}

:import {
    -st-from: "../IconButton/IconButton.st.css";
    -st-default: TPAIconButton;
}

/*Defaults*/
:vars {
    DefaultWiredCloseButtonColor: color-5;
    DefaultCloseButtonColor: #000000;
    DefaultWiredBackgroundColor: color-1;
    DefaultBackgroundColor: #ffffff;
}

/*Overrides*/
:vars {
    CloseButtonColor: --overridable;
    BackgroundColor: --overridable;
}

/*Fallbacks*/
:vars {
    WiredCloseButtonColor: color(fallback(value(CloseButtonColor), value(DefaultWiredCloseButtonColor)));
    WiredBackgroundColor: color(fallback(value(BackgroundColor), value(DefaultWiredBackgroundColor)));
}

.root {
    -st-states: mobile, rtl, wired;
}

.contentWrapper {
    box-sizing: border-box;
    min-width: 280px;
    max-width: 980px;
    min-height: 240px;
    max-height: 620px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);

    background: value(DefaultBackgroundColor);
}

.closeButtonWrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

.closeIconButton {
    -st-mixin: TPAIconButton(
            IconColor value(DefaultCloseButtonColor)
    );
}

.dialogContent {
    padding: 80px 32px;
}

.root:mobile .contentWrapper {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
}

.root:rtl .closeButtonWrapper {
    right: initial;
    left: 20px;
}

/* New style overrides capabilities */
.overrideStyleParams {
    -st-extends: root;
}

.overrideStyleParams:wired .contentWrapper {
    background: value(WiredBackgroundColor);
}

.overrideStyleParams:wired .closeIconButton {
    -st-mixin: TPAIconButton(
            IconColor value(WiredCloseButtonColor)
    );
}
