:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback;
}

:import {
    -st-from: "../IconButton/IconButton.st.css";
    -st-default: TPAIconButton;
}

/*Defaults*/
:vars {
    DefaultCloseButtonColor: color-5;
}

/*Overrides*/
:vars {
    CloseButtonColor: --overridable;
}

/*Fallbacks*/
:vars {
    CurrentCloseButtonColor: color(fallback(value(CloseButtonColor), value(DefaultCloseButtonColor)));
}

.root {
    -st-states: mobile;
    /*css goes here*/
}

.root:mobile {
    /*mobile css goes here*/
}

.closeButtonWrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

.closeIconButton {
    -st-mixin: TPAIconButton(
            IconColor value(CurrentCloseButtonColor)
    );
}

.dialogContent {
    padding: 80px 70px;
}

.root:mobile .dialogContent {
    padding: 80px 32px;
}