:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback;
}

:import {
    -st-from: "../IconButton/IconButton.st.css";
    -st-default: TPAIconButton;
}

/*Defaults*/
:vars {
    DefaultCloseButtonColor: color-5;
}

/*Overrides*/
:vars {
    CloseButtonColor: --overridable;
}

/*Fallbacks*/
:vars {
    CurrentCloseButtonColor: color(fallback(value(CloseButtonColor), value(DefaultCloseButtonColor)));
}

.root {
    -st-states: mobile;
}

.root:mobile {
}

.contentWrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);

    background: #fff;
}

.root:mobile .contentWrapper {
    height: 100%;
    transform: translate(-50%, -50%);
}

.closeButtonWrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

:global([dir="rtl"]) .closeButtonWrapper,
:global(.rtl) .closeButtonWrapper {
    right: initial;
    left: 20px;
}

.closeIconButton {
    -st-mixin: TPAIconButton(
            IconColor value(CurrentCloseButtonColor)
    );
}

.dialogContent {
    padding: 80px;
}

.root:mobile .dialogContent {
    padding: 80px 32px;
}