:import {
    -st-from: "../AvatarGroup.st.css";
    -st-default: AvatarGroup;
}

.root {
    -st-mixin: AvatarGroup(
        AvatarBorderColor '"--AvatarBorderColor"',
        TextButtonColor '"--AvatarTextButtonColor"',
        TextButtonFont '"--AvatarTextButtonFont'
    );
}
