:import {
    -st-from: "../../../src/tpaStyles/styleableExt";
    -st-named: wixApply;
}

:import {
    -st-from: "../IconToggle/IconToggle.st.css";
    -st-default: IconToggle;
}

:vars {
    /*Defaults*/
    IconColor: wixApply(color, color-5);
}

:vars {
    /*Overrides*/
    iconColor: value(IconColor);
}

.root {
    -st-states: checked;
    -st-mixin: IconToggle(
        IconColor value(iconColor)
    );
}

.root:checked {
    -st-mixin: IconToggle(
        IconColor '#F64D43'
    );
}
