:import {
    -st-from: "../../../src/tpaStyles/styleableExt";
    -st-named: wixApply;
}

:import {
    -st-from: "../IconToggle/IconToggle.st.css";
    -st-default: IconToggle;
}

:vars {
    /*Defaults*/
    /*Defaults params goes here*/
    IconColor: wixApply(color, color-5);
}

:vars {
    /*Overrides*/
    /*Deceleration of overridable placeholders*/
    iconColor: value(IconColor);
}

.root {
    -st-states: mobile, checked;
    /*css goes here*/

    -st-mixin: IconToggle(
        IconColor value(iconColor)
    );
}

.root:checked {
    -st-mixin: IconToggle(
        IconColor '#F64D43'
    );
}

.root:mobile {
    /*mobile css goes here*/
}
  

