:import {
    -st-from: "../Tags.st.css";
    -st-default: Tags;
}

.root {
}

.solid {
    -st-mixin: Tags(
            MainBorderRadius '"unit(--borderRadius, px)"',
            MainVerticalSpacing '"unit(fallback(zeroAsTrue(--verticalSpacing), 4), px)"',
            MainHorizontalSpacing '"unit(fallback(zeroAsTrue(--horizontalSpacing), 4), px)"',
            MainTextColor '"--textColor"',
            MainBackgroundColor '"--bgColor"',
            HoverTextColor '"--hoverTextColor"',
            HoverBackgroundColor '"--hoverBgColor"',
            CheckedTextColor '"--checkedTextColor"',
            CheckedBackgroundColor '"--checkedBgColor"',
            MainTextFont '"--textFont"'
    );
}

.light {
    -st-mixin: Tags(
            MainBorderWidth '"unit(fallback(--borderWidth, 1), px)"',
            MainBorderRadius '"unit(--borderRadius, px)"',
            MainVerticalSpacing '"unit(fallback(zeroAsTrue(--verticalSpacing), 4), px)"',
            MainHorizontalSpacing '"unit(fallback(zeroAsTrue(--horizontalSpacing), 4), px)"',
            MainTextColor '"--textColor"',
            MainBackgroundColor '"--bgColor"',
            MainBorderColor '"--borderColor"',
            HoverTextColor '"--hoverTextColor"',
            HoverBackgroundColor '"--hoverBgColor"',
            HoverBorderColor '"--hoverBorderColor"',
            CheckedTextColor '"--checkedTextColor"',
            CheckedBackgroundColor '"--checkedBgColor"',
            MainTextFont '"--textFont"'
    );
}
