:import {
    -st-from: "../../../src/tpaStyles/styleableExt";
    -st-named: wixApply;
}

:import {
    -st-from: "../Card/Card.st.css";
    -st-named: mediaContainer, infoContainer, infoPadding, borderWidth, borderColor, mediaBGColor, infoBGColor, negativeInfoPadding;
}

:import {
    -st-from: "../Card/Card.st.css";
    -st-default: Card;
}

:import {
    -st-from: "../Card/mixins.st.css";
    -st-named: withBorder, withDynamicPadding;
}

.root {
    -st-extends: Card;
    -st-states: invertInfoPosition;
    border: none;
}

.root > .mediaContainer {
    background-color: value(mediaBGColor);
    margin-right: value(negativeInfoPadding);
    position: relative;
    height: 120%;
    top: -10%;
    right: 0;
    left: 0;
}

.root:invertInfoPosition > .mediaContainer {
    margin-right: 0;
    margin-left: value(negativeInfoPadding);
}

.root > .infoContainer {
    background-color: value(infoBGColor);
    z-index: 20;
    -st-mixin: withBorder(
            BorderColor value(borderColor),
            BorderWidth value(borderWidth)
    ), withDynamicPadding(
            PaddingSize value(infoPadding),
            BorderWidth value(borderWidth)
    );
}
