
:import {
    -st-from: '../../common/formatters.st';
    -st-named: value;
}

/*Overrides*/
:vars {
    /*
        The size (width and height) of a single ColorPickerItem
        @default 24
     */
    ItemSize: --overridable;
    /*
        The border radius of ColorPickerItem
        @default 12
     */
    BorderRadius: --overridable;
}

.root {
    display: inline-block;
    margin: -4px;
    border: 0;
    padding: 0.01em 0 0 0;
    min-width: 0;
    user-select: none;
}

.wrapper {
    display: inline-flex;
    flex-wrap: wrap;
}

:import {
    -st-from: './ColorPickerItem/ColorPickerItem.st.css';
    -st-default: ColorPickerItem;
}

.item {
    -st-extends: ColorPickerItem;
    -st-mixin: ColorPickerItem(Size value(ItemSize), Radius value(BorderRadius));
}

