
:import {
    -st-from: '../../common/formatters.st';
    -st-named: value;
}

:vars {
    /*Overrides*/
    ItemSize: --overridable;
    BorderRadius: --overridable;
}

.root {
    display: inline-block;
    margin: -4px;
    border: 0;
    padding: 0.01em 0 0 0;
    min-width: 0;
}

.wrapper {
    display: inline-flex;
    flex-wrap: wrap;
}

:import {
    -st-from: './ColorPickerItem/ColorPickerItem.st.css';
    -st-default: ColorPickerItem;
}

.item {
    -st-extends: ColorPickerItem;
    -st-mixin: ColorPickerItem(Size value(ItemSize), Radius value(BorderRadius));
}

