:import {
  -st-from: "../../src/components/Input/Input.st.css";
  -st-default: TPAInput;
}

.root {
  --inputBackgroundColor: ;
  --inputTextColor: ;

  -st-mixin: TPAInput(
          MainBackgroundColor '"opacity(color(--inputBackgroundColor), 0.2)"',
          MainTextColor '"color(--inputTextColor)"'
  );
}
