:import {
  -st-from: "../../src/components/Input/Input.st.css";
  -st-default: TPAInput;
}

.root {
  --inputBackgroundColor: '"color(color-1)"';
  --inputTextColor: '"color(color-5)"';

  -st-mixin: TPAInput(
          MainBackgroundColor '"opacity(color(--inputBackgroundColor), 0.2)"',
          MainTextColor '"color(--inputTextColor)"'
  );
}
