:import {
  -st-from: "../DotNavigation.st.css";
  -st-default: DotNavigation;
}

.root {
  -st-mixin: DotNavigation(
    SelectedDotColor '"--selectedDotColor"',
    SelectedBorderColor '"--selectedBorderColor"'
  );
}
