:import {
  -st-from: "../DotNavigation.st.css";
  -st-default: DotNavigation;
}

.root {
  -st-mixin: DotNavigation(
    DotNavigationSelectedDotColor '"--dotNavigationSelectedDotColor"',
    DotNavigationSelectedBorderColor '"--dotNavigationSelectedBorderColor"'
  );
}
