:import {
    -st-from: "../../Divider/Divider.st.css";
    -st-default: TPADivider;
}

.root {
    --dividerColor: #000;
    --dividerWidth: 1px;
    -st-mixin: TPADivider(
        MainDividerColor '"--dividerColor"',
        MainDividerWidth '"--dividerWidth"'
    );
    margin-top: 10px;
    margin-bottom: 10px;
}
