:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: Avatar;
}

:import {
    -st-from: "../../common/formatters.st";
    -st-named: color;
}

:vars {
    /*Defaults*/
    /*Defaults params goes here*/
}

:vars {
    /*Overrides*/
    /*Deceleration of overridable placeholders*/
}

.root {
    -st-states: mobile;
    /*css goes here*/
}

.root:mobile {
    /*mobile css goes here*/
}

.avatar {
    -st-extends: Avatar;
  }

.avatar:contentType(text)::content {
    color: red;
  }
