:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: Avatar;
}

.root {
    -st-extends: Avatar;
    -st-states: size(enum(large, medium, small, xLarge, xSmall, xxSmall));
}

.root::content {
    align-items: center;
    background-color: #d8d8d8;
    border-radius: 50%;
    color: #979797;
    display: flex;
    font-family: "HelveticaNeueW01-65Medi", "Arial", "sans-serif";
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0;
    text-align: center;
}

.root:size(xLarge)::content {
    font-size: 36px;
    height: 60px;
    width: 60px;
}

.root:size(large)::content {
    font-size: 32px;
    height: 52px;
    width: 52px;
}

.root:size(medium)::content {
    font-size: 20px;
    height: 36px;
    width: 36px;
}

.root:size(small)::content {
    font-size: 16px;
    height: 28px;
    width: 28px;
}

.root:size(xSmall)::content {
    font-size: 12px;
    height: 20px;
    width: 20px;
}

.root:size(xxSmall)::content {
    font-size: 8px;
    height: 16px;
    width: 16px;
}