:import {
    -st-from: "../Dropdown.st.css";
    -st-default: TPADropdaown;
}

.root {
    -st-mixin: TPADropdaown(
            MainButtonTextColor '"--mainButtonTextColor"',
            MainButtonTextDisabledColor '"--mainButtonTextDisabledColor"',
            MainButtonBorderColor '"--mainBorderColor"',
            MainBorderDisabledColor '"--mainBorderDisabledColor"',
            MainBorderWidth '"--mainBorderWidth"',
            MainBackgroundColor '"--mainBackgroundColor"',
            MainPlaceholderColor '"--mainPlaceholderColor"',
            MainTextFont '"--mainTextFont"',
            MainDropdownBackgroundColor '"--mainDropdownBackgroundColor"',
            MainItemTextColor '"--mainItemTextColor"',
            MainItemTextFont '"--mainItemTextFont"',
            MainItemTextDisabledColor '"--mainItemTextDisabledColor"',
    );
}
