:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, applyOpacity, fallback, font;
}

:import {
    -st-from: "../TextField/TextField.st.css";
    -st-default: TextField;
}

:import {
    -st-from: "../DatePicker/DatePicker.st.css";
    -st-named: calendar;
}

:import {
    -st-from: "wix-style-react/dist/src/DatePicker/DatePicker.st.css";
    -st-default: WSRDatePicker;
}

:import {
    -st-from: "wix-ui-core/dist/src/components/popover/Popover.st.css";
    -st-named: popoverContent;
}

/*Defaults*/
:vars {
    calendarWidth: 280px;
    calendarHeight: 332px;
}

/*Overrides*/
:vars {
    /*
        The calendar background color
        @default color-1
    */
    BackgroundColor: --overridable;
    /*
        The color of the calendar navigation arrows
        @default color-5
    */
    NavigationArrowsColor: --overridable;
    /*
        The font of the calendar month snd year caption. The font size is 16px and could not be overridden.
        @default {theme: 'Body-M', lineHeight: '24px'}
    */
    MonthAndYearCaptionFont: --overridable;
    /*
        The color of the calendar month and year caption
        @default color-5
    */
    MonthAndYearCaptionColor: --overridable;
    /*
        The font of the calendar's weekdays section. The font size is 14px and could not be overridden.
        @default {theme: 'Body-M', lineHeight: '20px'}
    */
    WeekdayFont:  --overridable;
    /*
        The font color of the calendar's weekdays.
        @default color-8
    */
    WeekdayTextColor: --overridable;
    /*
        The font of a specific date. The font size is 14px and could not be overridden.
        @default {theme: 'Body-M', lineHeight: '20px'}
    */
    DayFont: --overridable;
    /*
        The font color of a specific day.
        @default color-5
    */
    DayColor: --overridable;
    /*
        The font color of the selected day.
        @default color-1
    */
    SelectedDayColor: --overridable;
    /*
        The background color of the selected day.
        @default color-color-8
    */
    SelectedDayBGColor: --overridable;
    /*
        The background color of a disabled day. Disabled day is a date that are not selectable.
        @default color-3
    */
    DisabledDayColor: --overridable;
    /*
        The background color of the date input.
        @default color-1
    */
    DateInputBGColor: --overridable;
    /*
        The text color of the date input.
        @default color-5
    */
    DateInputTextColor: --overridable;
    /*
        The date input border color.
        @default color-5
    */
    DateInputBorderColor: --overridable;
    /*
        The date input font.
        @default {theme: 'Body-M', size: '16px'}
    */
    DateInputFont: --overridable;
}

.root {
}

.root .popoverContent {
    border-radius: 0;
}

.wsrDatePicker {
    -st-extends: WSRDatePicker;
}

.overrideStyleParams .textField {
    -st-mixin: TextField(
            MainBorderColor value(DateInputBorderColor),
            MainBackgroundColor value(DateInputBGColor),
            MainTextColor value(DateInputTextColor),
            MainTextFont value(DateInputFont),
    );
}

.overrideStyleParams .wsrDatePicker {
    -st-mixin: calendar(
            BackgroundColor value(BackgroundColor),
            NavigationArrowsColor value(NavigationArrowsColor),
            MonthAndYearCaptionColor value(MonthAndYearCaptionColor),
            WeekdayTextColor value(WeekdayTextColor),
            DayColor value(DayColor),
            SelectedDayColor value(SelectedDayColor),
            SelectedDayBGColor value(SelectedDayBGColor),
            DisabledDayColor value(DisabledDayColor),

            MonthAndYearCaptionFont value(MonthAndYearCaptionFont),
            WeekdayFont value(WeekdayFont),
            DayFont value(DayFont),
    );
}

.wsrDatePicker::calendar::month {
    width: value(calendarWidth);
    height: value(calendarHeight);
}