:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: ButtonNext;
}

:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, font, applyOpacity;
}

:vars {
    /*Defaults*/
    DefaultColor: color-5;
    DisabledColor: color-3;
}

:vars {
    /*Overrides*/
    IconColor: --overridable;
}

:vars {
    iconColor: fallback(value(IconColor), value(DefaultColor));
    inverseIconColor: applyOpacity(color(value(iconColor)), 0.7);
}

.root {
    -st-extends: ButtonNext;
    -st-states: disabled, skin(enum(line, full)), inverseColor;
    /*css goes here*/
    background-color: transparent;
    text-decoration: none;
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.root:hover {
    opacity: 0.6;
}

.root:disabled {
    cursor: default;
}

.root:disabled:hover {
    opacity: 1;
}

.root:skin(line):disabled .icon path {
    stroke: color(value(DisabledColor));
    fill: none;
}

.root:skin(full):disabled .icon path {
    fill: color(value(DisabledColor));
    stroke: color(value(DisabledColor));
}

.icon svg {
    display: block;
}

.root:skin(line) .icon path {
    stroke: color(value(iconColor));
    fill: none;
}

.root:skin(full) .icon path {
    fill: color(value(iconColor));
    stroke: color(value(iconColor));
}

/*-------------------------------inverseColor------------------------------*/

.root:inverseColor:hover {
    opacity: 1;
}

.root:skin(line):inverseColor .icon path {
    stroke: value(inverseIconColor);
    fill: none;
    transition: stroke 0.2s cubic-bezier(.39,.11,.37,.99);
}

.root:skin(full):inverseColor .icon path {
    fill: value(inverseIconColor);
    stroke: value(inverseIconColor);
    transition: fill 0.2s cubic-bezier(.39,.11,.37,.99),
                stroke 0.2s cubic-bezier(.39,.11,.37,.99);
}

.root:skin(line):inverseColor:hover .icon path {
    stroke: color(value(iconColor));
    fill: none;
}

.root:skin(full):inverseColor:hover .icon path {
    fill: color(value(iconColor));
    stroke: color(value(iconColor));
}