:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: ButtonNext;
}

:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, font, applyOpacity;
}

:vars {
    /*Defaults*/
    DefaultColor: color-5;
    DisabledColor: color-3;
}

:vars {
    /*Overrides*/
    IconColor: --overridable;
}

.root {
    -st-extends: ButtonNext;
    -st-states: disabled;
    /*css goes here*/
    background-color: transparent;
    text-decoration: none;
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.root:hover .icon {
    opacity: applyOpacity(value(IconColor), 0.6);;
}

.root:disabled:hover .icon {
    opacity: 1;
}

.root:disabled .icon path {
    stroke: color(value(DisabledColor));
}

.icon svg {
    display: block;
}

.icon path {
    stroke: color(fallback(value(IconColor), value(DefaultColor)));
}

