:import {
    -st-from: "wix-ui-core/index.st.css";
    -st-named: ButtonNext;
}

:import {
    -st-from: "../../common/formatters.st";
    -st-named: color, fallback, font, applyOpacity;
}

:vars {
    /*Defaults*/
    DefaultColor: color-5;
    DisabledColor: color-3;
}

:vars {
    /*Overrides*/
    IconColor: --overridable;
}

.root {
    -st-extends: ButtonNext;
    -st-states: disabled, skin(enum(line, full));
    /*css goes here*/
    background-color: transparent;
    text-decoration: none;
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.root:hover, .root:focus {
    opacity: 0.7;
}

.root:disabled {
    cursor: default;
}

.root:disabled:hover {
    opacity: 1;
}

.icon svg {
    display: block;
}

.root:disabled.skin-line .icon path {
    stroke: color(value(DisabledColor));
    fill: none;
}

.root:disabled.skin-full .icon path {
    fill: color(value(DisabledColor));
    stroke: color(value(DisabledColor));
}

/* Variants - including style overrides capabilities */
/* but also support state syntax */

.skin-line .icon path, .root:skin(line) .icon path {
    stroke: color(fallback(value(IconColor), value(DefaultColor)));
    fill: none;
}

.skin-full .icon path, .root:skin(full) .icon path {
    fill: color(fallback(value(IconColor), value(DefaultColor)));
    stroke: color(fallback(value(IconColor), value(DefaultColor)));
}
