:import {
    -st-from: "../../common/formatters.st";
    -st-named: color;
}

:vars {
    /*Defaults*/
    /*Defaults params goes here*/
}

:vars {
    /*Overrides*/
    /*Deceleration of overridable placeholders*/
}

.root {
    -st-states: mobile;
    /*css goes here*/
}

.root:mobile {
    /*mobile css goes here*/
}
