:import {
  -st-from: '../../common/formatters.st';
  -st-named: color, fallback, value;
}

:vars {
  /*Defaults*/
  DefaultSelectedDotColor: color-5;
  DefaultSelectedBorderColor: color-1;
  DefaultSelectedDotColorLight: color-1;
  DefaultSelectedBorderColorLight: color-5;
}

:vars {
  /*Overrides*/
  DotNavigationSelectedDotColor: --overridable;
  DotNavigationSelectedBorderColor: --overridable;
}

:vars {
  DotAmount: 7;
  Gap: 5px;
  RadioSize: calc(4 * value(Gap));
  DotSize: calc(2 * value(Gap));
  DotSizeSmall: calc(value(DotSize) - 2px);
  DotSizeTiny: calc(value(DotSizeSmall) - 2px);
  SelectedDotColor: color(fallback(value(DotNavigationSelectedDotColor), value(DefaultSelectedDotColor)));
  SelectedBorderColor: color(fallback(value(DotNavigationSelectedBorderColor), value(DefaultSelectedBorderColor)));
  SelectedDotColorLight: color(fallback(value(DotNavigationSelectedDotColor), value(DefaultSelectedDotColorLight)));
  SelectedBorderColorLight: color(fallback(value(DotNavigationSelectedBorderColor), value(DefaultSelectedBorderColorLight)));
}

@keyframes move-back {
  from {
    left: calc(-2 * value(RadioSize));
  }

  to {
    left: calc(-1 * value(RadioSize));
  }
}

@keyframes move-forward {
  from {
    left: 0;
  }

  to {
    left: calc(-1 * value(RadioSize));
  }
}

.root {
  -st-states: bordered, light;
  display: flex;
  position: relative;
  width: calc(value(DotAmount) * value(RadioSize));
  overflow: hidden;
}

.root:bordered .radio .dot {
  box-shadow: 0 0 0 1px value(SelectedBorderColor);
}

.root:light .dot {
  background-color: value(SelectedDotColorLight);
}

.root:bordered:light .radio .dot {
  box-shadow: 0 0 0 1px value(SelectedBorderColorLight);
}

.radioGroup {
  -st-states: back, forward;
  display: flex;
  align-items: center;
  position: relative;
  left: calc(-1 * value(RadioSize));
}

.radioGroup:back {
  animation-duration: 0.2s;
  animation-name: move-back;
}

.radioGroup:forward {
  animation-duration: 0.2s;
  animation-name: move-forward;
}

.radio {
  -st-states: checked, hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: value(RadioSize);
  height: value(RadioSize);
}

.radio:hidden {
  visibility: hidden;
}

.radio:checked .dot {
  opacity: 1;
}

.dot {
   -st-states: small, tiny;
  width: value(DotSize);
  height: value(DotSize);
  border-radius: 100%;
  background-color: value(SelectedDotColor);
  opacity: 0.4;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, width 0.2s ease, height 0.2s ease;
}

.dot:small {
  width: value(DotSizeSmall);
  height: value(DotSizeSmall);
}

.dot:tiny {
  width: value(DotSizeTiny);
  height: value(DotSizeTiny);
}

.dot:hover {
  opacity: 1;
}
