:import {
  -st-from: "../../common/formatters.st";
  -st-named: color, fallback;
}

/* Overrides */
:vars {
  /*
    A background color by a color from the palette for the container
  */
  ContainerBackgroundColor: --overridable;
  /*
    A border color by a color from the palette for the container
  */
  ContainerBorderColor: --overridable;
  /*
    A border radius in pixels for the container
  */
  ContainerBorderRadius: --overridable;
  /*
    A border width in pixels for the container
  */
  ContainerBorderWidth: --overridable;
  /*
    An opacity between 0 to 100 for the container
  */
  ContainerOpacity: --overridable;
  /*
    An opacity between 0 to 100 for the image itself
  */
  ImageOpacity: --overridable;
}

:vars {
  backgroundColor: color(value(ContainerBackgroundColor));
  blurRadius: 3px;
}

@keyframes blurry-loading {
  0% {
    filter: blur(value(blurRadius));
  }
  100% {
    filter: none;
  }
}

.root {
  display: grid;
  min-height: 100%;
}

.root.overrideStyleParams {
  background-color: value(backgroundColor);
}

.root.contain .absoluteImage,
.root.contain .relativeImage {
  object-fit: contain;
}

.root.cover .absoluteImage,
.root.cover .relativeImage {
  object-fit: cover;
}

.preload {
  filter: blur(value(blurRadius));
}

.loaded {
  animation-name: blurry-loading;
  animation-duration: 0.3s;
  animation-timing-function: easeout;
}

.absoluteImage.preload {
  -st-mixin: preload;
}

.absoluteImage.loaded {
  -st-mixin: loaded;
}
