:vars {
  BlurRadius: 3px;
}

@keyframes blurry-loading {
  0% {
    filter: blur(value(BlurRadius));
  }
  100% {
    filter: none;
  }
}

.root {
  -st-states: resize(enum(contain, cover)), preload, loaded;

  display: grid;
}

.root:resize(contain) .absoluteImage, .root:resize(contain) .relativeImage, .root:resize(contain) .placeholder {
  object-fit: contain;
}

.root:resize(cover) .absoluteImage, .root:resize(cover) .relativeImage, .root:resize(cover) .placeholder {
  object-fit: cover;
}

.placeholder, .relativeImage {
  grid-area: 1 / 1;
}

.root:preload .absoluteImage, .root:preload .placeholder {
  filter: blur(value(BlurRadius));
}

.root:loaded .absoluteImage, .root:loaded .relativeImage {
  animation-name: blurry-loading;
  animation-duration: 0.3s;
  animation-timing-function: easeout;
}
