:vars {
  BlurRadius: 3px;
}

@keyframes blurry-loading {
  0% {
    filter: blur(value(BlurRadius));
  }
  100% {
    filter: none;
  }
}

.root {
  display: grid;
  min-height: 100%;
}

.root.contain .absoluteImage, .root.contain .relativeImage {
  object-fit: contain;
}

.root.cover .absoluteImage, .root.cover .relativeImage {
  object-fit: cover;
}

.preload {
  filter: blur(value(BlurRadius));
}

.loaded {
  animation-name: blurry-loading;
  animation-duration: 0.3s;
  animation-timing-function: easeout;
}

.absoluteImage.preload {
  -st-mixin: preload;
}

.absoluteImage.loaded {
  -st-mixin: loaded;
}