:import {
    -st-from: "../../src/components/ToggleSwitch/ToggleSwitch.st.css";
    -st-default: ToggleSwitch;
}

.root {
     --runtimeSettings1: '"color(color-24)"';
     -st-extends: ToggleSwitch;
     -st-mixin: ToggleSwitch(
        Hover '"color(--runtimeSettings1)"',
        Selected '"color(color-19)"',
        backgroundColorHover '"color(color-11)"'
     );
 }
