:import {
  -st-from: "../src/components/Button/Button.st.css";
  -st-default: TPAButton;
}

.root {
  text-align: left;
}

.title, .price {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
  font-family: Avenir, sans-serif;
  font-weight: 300;
  display: block;
}

.button {
  -st-extends: TPAButton;
  -st-mixin: TPAButton(
    MainBackgroundColor black
  );
  margin-top: 12px;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}
